[2016-11-21 22:26] rtopfer opened #1 "Generalizing shim programs"
So far, the real-time_shimming class library has been designed primarily for the RRI 24-channel spine shim (aka VHOS) array. To adapt the library for use with the new cervical AC/DC coil, these library will have to be generalized. The approach will be to use abstract classes and to make separate implementations for each of the specific shim systems https://www.cs.ubc.ca/~murphyk/Software/matlabTut

[2018-05-04 16:03] rtopfer opened #7 "Enable "offline" shim optimization"
The class ShimOpt_IUGM_Prisma_fit.m exists, however, the optimization currently accounts for neither the initial (e.g. tune-up) scanner shim settings used in a field map, nor for the system limits (i.e. max current per channel).

TODO:
However unlikely that the system limits would be encountered (at least for the linear terms), the same function should nevertheless possess a proper limit on the ca

[2018-07-27 00:00] rtopfer opened #8 "Correct shim control software (Arduino)"
Current version is buggy (e.g. implicit typecasting errors: negative shim currents result from positive inputs exceeding the DAC range), difficult to understand (readability), and does not impose any limits on the user inputs (e.g. if the requested power approaches the limits of the system, the controller should be clip the output and issue a warning).

[2019-02-19 16:37] jcohenadad opened #12 "Add C-code for unwrapper and update README"

[2019-03-04 20:44] #12 closed

[2019-03-04 23:04] #8 closed

[2019-03-04 23:12] rtopfer opened #13 "Multi-echo field fitting in FieldEval.mapfield()"
Signal dropouts and ghosting make successful phase unwrapping quite challenging. Using early echoes to estimate + correct unwrapping errors in the later echoes should be possible, but this requires that the early echoes themselves be more-or-less error-free. A magnitude-weighted linear fit seems necessary, but my current implementation is unbearably slow for hi-res (SWI) data...

[2019-03-05 03:21] jcohenadad commented on #13
@rtopfer could you add to this thread a link to dummy data along with the syntax to run `FieldEval.mapfield()` so I can give it a try?

[2019-03-08 19:39] alexfoias opened #14 "Real time filter of capacitive probe output"
Complete description of the problem [here](https://docs.google.com/document/d/1TXaYTfHYrfTIfu60gRR-6B_dla-Ja4RMTo_o7mJaNeg/edit).

Let's use this thread to follow code implementation

[2019-03-13 15:54] alexfoias commented on #14
a WIP here: https://github.com/neuropoly/realtime_shimming/blob/alfoi/CapacitiveProbe/RespiratoryProbe/filter_CapacitiveProbe.m

I tried to filter & fit polynomial on a sliding window, but the real time result is always biased (upward or downward depending on the moment in time).

Detection of 0 in the filtered signal (signal - polyfit) doesn't seem to work in the current implementation since the

[2019-03-13 15:59] jcohenadad commented on #14
How come the signal values are always 0? when you do "signal minus polyfit", you should obtain a sine function which mean is zero, not a flat line, right?

[2019-03-13 16:21] alexfoias commented on #14
Sorry for the mistake. What i wanted to say is that the values are not exactly 0 and the plot is an interpolation of the values.

[2019-03-13 16:27] Aureliengilliot commented on #14
If we multiply the values from t and t-1 and search for negative answers then we could find the place where the signal sign changes ? But it's not really precise ?

[2019-03-13 18:29] jcohenadad commented on #14
it will be precise enough for our application

[2019-05-09 15:21] jcohenadad opened #16 "Look at possible use of ismrmrd for real time reconstruction and analysis"
Details of the project: https://github.com/ismrmrd

There is the possibility to combine, in the same file format, kspace data and physio.

[2019-06-07 15:52] jcohenadad opened #17 "Figure out another way to read and record probe signal"
In the current implementation 86b198fe9ba24b79569b2f0d81d8f17b2c227f3d, the `memmap()` function is configured such that a file is written physically and in RAM. This could take several GB and is therefore problematic.

An alternative approach, previously implemented [ADD URL TO COMMIT] was to not have the signal being saved in memory, but have each sample being sequentially write/read between the

[2019-06-14 13:38] jcohenadad opened #19 "Reference to non-existent field 'probeType'"
plugging capacitive sensor on my laptop, then running this:
[code]

things should probably get configured under `/dev` but this needs documentation (hence this issue)

[2019-06-14 13:42] jcohenadad commented on #19
Related to these lines:
https://github.com/neuropoly/realtime_shimming/blob/alfoi/CapacitiveProbe/RespiratoryProbe/ProbeTracking.m#L958

Things could probably be improved there to be station-agnostic

[2019-06-14 13:56] rtopfer commented on #19
I'm not sure what you mean by configuring things under /dev. Indeed, a user needs to determine how each device is identified by their specific computer and update then add the appropriate strings to that switch/case structure following the lines you've referenced.
A slightly more elegant solution is what I suggested in the [documentation](https://github.com/neuropoly/realtime_shimming/blob/bb2970c

[2019-06-14 13:59] jcohenadad commented on #19
teensys have generic IDs (i think), the present code was too restrictive (station-dependent), i've made it more flexible, see https://github.com/neuropoly/realtime_shimming/pull/15

[2019-06-14 14:03] jcohenadad opened #20 "ProbeTracking: Subscript indices must either be real positive integers or logicals"
After opening deamon, issue when recording.

<details><summary>Full details</summary>

[code]

</details>

Commit 013183d403ba3982875ce570fec6179b6efb0e5d

[2019-07-01 23:19] #14 closed

[2019-07-01 23:19] #19 closed

[2019-08-30 18:17] jcohenadad opened #21 "Enable Siemens PMU trace compatbility"

[2019-08-30 18:20] jcohenadad opened #22 "Enable retrospective calculation of Siemens gradients"
Input:
- fieldmap
- siemens PMU resp trace

output:
- variable with info

ideally: would output text file.

[2019-08-30 18:30] jcohenadad opened #23 "shimdemo_2018.m: Missing script declareshimparamsdemo_201803"

[2019-08-30 18:50] jcohenadad opened #24 "Setting up config file to avoid hard-coded path in the code"

[2019-09-03 20:15] jcohenadad opened #25 "Installation: install config files under repos"
Instead of suggesting to install files specific to this program under ~/Matlab ([here](https://github.com/neuropoly/realtime_shimming/blob/master/README.md#dependencies-and-installation)), I would suggest to copy those files under this repository (to centralize everything, keep track of versions, enable automatic install in the future, etc.).

The folder need to be added to .gitignore if we go tha

[2019-09-03 20:55] rtopfer commented on #23
deprecated. deleted shimdemo_2018

[2019-09-03 20:55] #23 closed

[2019-09-03 20:57] rtopfer commented on #21
example/shimdemo.m for guidance on how to proceed.

[2019-09-04 21:08] jcohenadad opened #28 "Change extension of output files from txt to csv"
More intuitive (since they are csv outputs)

[2019-09-04 22:03] jcohenadad opened #29 "Add a method to ShimOpt that reveals the available channel names"
add a method to ShimOpt that reveals the available channel names and thus the input order for the Params.activeXChannelsMask terms, e.g. ShimOpt.getactivechannels()

More info in this [discussion thread](https://github.com/neuropoly/realtime_shimming/pull/26#issuecomment-528104360)

[2019-09-06 20:02] rtopfer opened #30 "Remove .Tracker (ProbeTracking object) from ShimOpt classes"
The class shouldn't involve any serial communication + recording (this will be done in ShimUse)

[2019-09-06 22:48] #30 closed

[2019-09-10 19:26] rtopfer commented on #29
Added method _tableshim()_ to ShimOpt.m:
Any ShimOpt-type object Shims can call Shims.tableshim(), which returns a table wherein the 1st column are the channel names/shim terms, and the 2nd column lists their current settings (entries in Shim.System.currents).
(Note: Shim.System.currents are all zeroes unless it is 1) updated manually by the user, 2) for ShimOpt_IUGM_Prisma_fit, when Shim.setorigi

[2019-09-10 19:26] #29 closed

[2019-09-10 19:31] rtopfer commented on #28
Resolved with [commit](https://github.com/neuropoly/realtime_shimming/commit/f862eb1accdb864085e524c6a64ff6f69159eaee)

[2019-09-10 19:31] #28 closed

[2019-09-10 19:33] #7 closed

[2019-09-13 14:28] jcohenadad commented on #21
to checkout new branch:
[code]

[2019-09-20 15:05] jcohenadad opened #32 "Have Matlab code download the appropriate calibration maps"
Based on the version of the code, it would be nice to automatically download the calibration maps.

this could be done via curl/wget.

Some useful links:
- https://gist.github.com/tanaikech/f0f2d122e05bf5f971611258c22c110f

[2019-09-20 16:14] alexfoias commented on #32
@rtopfer YOu can try something like this:

[code]

[2019-09-24 02:55] rtopfer opened #33 "Including f0 in ShimOpt.optimizeshimcurrents()"
the transmit frequency f0 should be included in the shim optimization (it's the simplest yet most important term), yet the current code yields buggy results when it is allowed to vary from its original setting (i.e. the imaging frequency of the input field map)...

[2019-10-15 17:56] #1 closed

[2019-10-15 17:58] rtopfer opened #35 "Enable dynamic (slicewise) Z-shimming"

[2019-10-31 19:23] evaalonsoortiz commented on #35
@rtopfer please review
@rtopfer and @jcohenadad  please add your segmentation and resampling modifications to this script

[2019-10-31 19:28] jcohenadad commented on #35
here is the script mentioned in the quote above:
https://github.com/neuropoly/realtime_shimming/blob/039ffa8ed2056ed9e92eba90cdaa71693f3689a7/example/dynaminc_zshim.m

[2019-11-22 22:16] jcohenadad opened #37 "Implement API and user documentation"
The project would benefit from a documentation, which is comprehensive and does not require heavy maintenance. There would be two levels of documentation: user-focused (big picture explanation, examples, pictures, etc.) and API documentation.

A few features needed:
- generation of static html should be automated (e.g. done by readthedocs)
- documentation would be hosted on separate page, and nice

[2019-11-22 23:02] #35 closed

[2019-11-26 18:07] alexfoias opened #38 "Match current limitation HWD to SWD"
Max 3A from OPA pin 8.

[2019-12-03 18:08] jcohenadad opened #39 "Find name for the repository"
Suggestions welcome!

- shimming toolbox
- flexible shimming toolbox
- MC-AC/DC Toolbox

[2019-12-03 18:40] jcohenadad opened #40 "Find a way to get slice positionning from a sequence written into file"
This file would then be read by the realtimeshimming code to get the shim parameters in the proper coordinate system

[2019-12-03 19:15] #22 closed

[2019-12-03 19:37] jcohenadad commented on #22
@evaalonsoortiz it is a good habit to comment the reason for closing an issue. In this case I assume the reason is that it is already implemented in [this example](https://github.com/neuropoly/realtime_shimming/blob/master/example/demozshim.m)?

[2019-12-03 21:20] evaalonsoortiz commented on #22
@jcohenadad Ah, I see!

This issue has been closed because the requested feature is now implemented within realtime_zshim.m

[2019-12-09 20:22] rtopfer opened #41 "Restructuring image class definitions: MaRdI.m and its subclasses"
The current class structure has become unwieldy and somewhat inconsistent, likely on account of too much falling within the ambit of an overly general MaRdI.m.

This can be alleviated somewhat by transferring some of its member methods to separate magnitude and phase subclasses, and by restricting access to some of the shared methods (e.g. _.getechotime(), .getacquisitiontime()_) to the subset of

[2020-01-21 19:12] po09i commented on #37
When using sphinx to document, can't auto document classes due to a bug when getting attributes : sphinx-doc/sphinx/issues/904

[2020-01-28 20:39] po09i commented on #37
Fixed the previously mentioned issue by generating an already working sphinx documentation project (CanlabCore), then running our project. It now works well.

[2020-02-26 21:42] jcohenadad opened #47 "Implement QGU unwrapping technique"

[2020-02-27 20:53] #47 closed

[2020-02-27 20:59] evaalonsoortiz opened #48 "Modify MaRdI.sortimages to avoid re-sorting previously sorted images"
When MaRdI.sortimages is run (with boolean option 1), it will copy files and sort files, regardless of what files are already in the working folder. This means that when you are scanning, if you copy and sort files, then acquire more scans, you have to delete everything that was already copied/sorted before running MaRdI.sortimages again to avoid duplicates. This should be changed so that MaRdI.so

[2020-02-27 21:08] evaalonsoortiz opened #49 "FSLeyes popup during realtime_zhim to show the SCT segmentation ROI"
The SCT is called to generate an ROI in a phantom or segment the spinal cord in-vivo. Some visual QA is needed. We could have FSLeyes open up to display the ROI volume (which is already generated in nifti format by SCT) overlaid with the GRE volume (however, these images are currently in MaRdI or dicom format, so they would also have to be saved as niftis). One of the overlaid views (ex: sagittal)

[2020-03-10 18:43] jcohenadad opened #53 "Liability: we need to add disclaimer in the license"

[2020-03-11 20:27] jcohenadad opened #54 "Have a daemon to move the files as they are spit out from the scanner"

[2020-03-17 01:42] #49 closed

[2020-03-17 01:46] evaalonsoortiz commented on #48
This issue will be closed because MaRdI.sortimages can be used with an option to move all unsorted images. If that is done, then the next time unsorted images are added to the mounted drive (new acquisitions), only those will be sorted and moved over.

[2020-03-17 01:46] #48 closed

[2020-03-17 02:10] evaalonsoortiz opened #56 "Issue with MaRdI write function"
In realtime_zshim a MaRdI image object is first created for a field map time series.
`B0Fields = FieldEval( FM_mag_path, FM_phase_path, Params ); `
The field map time series is manipulated so that a Gz (dB/dz) time series is generated from it.
`GzFields = B0Fields;`
` [~,GzFields.img(:,:,1,1,measNo)] = gradient(squeeze(g*B0Fields.img(:,:,1,1,measNo)),...`
If the Gz time series is saved as a nifti

[2020-03-25 18:34] rtopfer commented on #56
@evaalonsoortiz because doing the dicom <--> nifti transformations would really require understanding both header formats (which is beyond me), the `MaRdI.write()` function writes dicoms first and then defers to [dcm2niix](https://github.com/neuropoly/realtime_shimming/blob/397f20dd0bea2f1c3a8ab0226e9c547b5661ec92/misc/MaRdI.m#L1941)

glancing at the code, it looks like the potential for things to

[2020-03-25 20:41] evaalonsoortiz opened #58 "MaRdI.sortimages move files option creating duplicates"
Using MaRdI.sortimages move files option with a mounted drive on Syngo:

Step 1: I moved dicom files from the mounted drive to a working folder (using MaRdI.sortimages with option "0").
Step 2: Acquired additional scans and moved those again using MaRdI.sortimages. This resulted in duplicates for the files moved in Step 1.

![image](https://user-images.githubusercontent.com/6652194/77583560-ab494e

[2020-03-25 21:37] rtopfer commented on #58
i can't reproduce the error.
@evaalonsoortiz does this happen irrespective of the folder?
my guess is that if folder permissions are set to _read only_ it may be that your version of MATLAB just defaults to copying the files because it isn't allowed to move them.

[2020-03-26 00:03] evaalonsoortiz commented on #58
@rtopfer I just tried again from another folder (set to read and write) and realized that when I used the option to move files, they are simply copied and not moved. This is definitely not the case for everyone else? @po09i

[2020-03-26 00:10] po09i commented on #58
@evaalonsoortiz  Moving the files definitely moves them. Also when I copy them twice, no duplication occurs.

[2020-03-26 01:29] rtopfer commented on #58
@evaalonsoortiz have you tried with an input of `false` instead of the `0` (i.e. lowercase, no quotation marks)...
`MaRdI.sortimages` really isn't doing anything much besides reading the dicom headers to choose the filenames before calling Matlab's [`movefile` ](https://www.mathworks.com/help/matlab/ref/movefile.html) or [copyfile](https://www.mathworks.com/help/matlab/ref/copyfile.html) -- see if

[2020-03-26 02:34] evaalonsoortiz commented on #56
@rtopfer thanks for the feedback.

I am creating a new nifti/Gz_tSeries folder each time (the call GzFields.write('nifti/Gz_tSeries/','nii',false) is preceded by a rm -r nifti, so I don't think that is it.

I have been looking at the images themselves to verify that a Gz map actually contains voxel values that differ from a B0 map.

Looking at the data again, I see there is a mistake in my origina

[2020-03-26 03:03] evaalonsoortiz commented on #58
I found the error, but I am not sure why no one else had this issue.
When we call `realtime_zshim('phantom', 0)`, the call to MaRdI.sortimages has no "isCopying" boolean
https://github.com/neuropoly/realtime_shimming/blob/397f20dd0bea2f1c3a8ab0226e9c547b5661ec92/example/realtime_zshim.m#L73.
In MaRdI: https://github.com/neuropoly/realtime_shimming/blob/397f20dd0bea2f1c3a8ab0226e9c547b5661ec92/misc

[2020-03-26 08:52] rtopfer commented on #56
ah, you can't create initialize another image that way: MaRdI is a "[handle class](https://www.mathworks.com/help/matlab/ref/handle-class.html)", so when you do `GzFields = B0Fields` you actually end up with 2 variables referring to the same data -- changes to one will be reflected in the other. Instead, use`GzFields = BoFields.copy()`

(the difference is akin to passing a variable by reference vs

[2020-03-26 16:47] jcohenadad commented on #56
yes 👍

[2020-03-26 19:37] #58 closed

[2020-03-27 02:24] evaalonsoortiz commented on #56
Excellent, issue solved!

[2020-03-27 02:24] #56 closed

[2020-04-08 18:07] jcohenadad opened #60 "Create a function to write nifti file"
Currently we are writing nifti by going through dicom format, which is problematic because of re-normalization.

Suggestion: write a function that would write nifti directly, with json that woudl include useful metadata (freq, shim coeff, etc.)

[2020-04-08 23:29] evaalonsoortiz opened #61 "Bug in realtime_zshim.m"
https://github.com/neuropoly/realtime_shimming/blob/a7690fba9cc4e7fca6c58ceda76dd7bf516a73c5/example/realtime_zshim.m#L219

https://github.com/neuropoly/realtime_shimming/blob/a7690fba9cc4e7fca6c58ceda76dd7bf516a73c5/example/realtime_zshim.m#L313

When going the route of fit B0 vs pressure first then compute the derivative we are re-normalizing values twice.
First here: https://github.com/neuropol

[2020-05-05 21:57] rtopfer commented on #37
Working prototype migrated to [new repo](https://github.com/shimming-toolbox/helpDocMd)

[2020-05-05 21:57] #37 closed

[2020-05-06 17:53] jcohenadad commented on #60
Maybe look into official matlab functions:
- https://www.mathworks.com/help/images/ref/niftiread.html
- https://www.mathworks.com/help/images/ref/niftiwrite.html

[2020-05-07 03:52] rtopfer opened #63 "REF: Delegate image object creation to `Maker` class"
Refactoring [MaRdI](https://github.com/shimming-toolbox/shimming-toolbox/blob/master/Img/MaRdI.m):

Creation of image objects from file (e.g. DICOM) is sufficiently complicated to warrant delegating it to a separate class from the image class itself.

This `Maker` class should also handle typecasting generic image objects into subtypes (e.g. magnitude, phase, etc.)

[2020-05-07 18:50] rtopfer opened #64 "Shared dependencies between repos"
@jcohenadad  @po09i   about a dozen small .m files are needed for both the `helpDocMd` and main shimming toolbox repo’s.

Since its code base is small, should `helpDocMd` be included as a submodule within the main shimming toolbox repo?

Also, I'm not sure what the implications are for Mkdocs since we don't want to document these .m files twice on the website.

[2020-05-07 18:57] jcohenadad commented on #64
are they the *same* files? if so, why is there a need to have the same files on both repos for the md files generation to work? (that seems strange to me)

if they are not the same files, then why is there a problem in having a separate repos if, as you rightfully mentioned, the "md generation framework" is project-agnostic (i.e. this helpDocMd repos could be useful for other projects).

maybe i a

[2020-05-07 19:11] rtopfer commented on #64
Same files (for now anyway). They're in `helpDocMd`.

Not sure there is a problem, it just means `helpDocMd` is effectively a requirement for the other repo, which I thought was a bit strange. (Albeit, I _think_ Matlab "projects" works best when each project corresponds to a specific repo)

[2020-05-07 19:38] jcohenadad commented on #64
what are those files? (can you point to them) and are they specific to shimming-toolbox project?

[2020-05-07 19:42] po09i commented on #64
For now, the simple Mkdocs configuration file includes all the ".md" within the [docs](https://github.com/shimming-toolbox/shimming-toolbox.org/tree/master/docs) folder. As soon as we decide on the [organization](https://github.com/shimming-toolbox/shimming-toolbox.org/issues/2) of the website, we will need to configure the configuration file for the navigation and we can make the appropriate link

[2020-05-07 19:43] rtopfer commented on #64
contents of [ValidationFunctions](https://github.com/shimming-toolbox/helpDocMd/tree/master/src/ValidationFunctions) and probably [fUtilities](https://github.com/shimming-toolbox/helpDocMd/tree/master/src/fUtilities)

i wrote them for the `helpDocMd` project but they're totally generic and would be useful for the shimming project

[2020-05-08 01:29] jcohenadad opened #66 "Create testing suite"
Here are some options:
- [MoxUnit](https://github.com/MOxUnit/MOxUnit): lightweight unit test framework for Matlab and GNU Octave.
  - pros: octave-compatible --> could be used within Travis
- [Matlab testing suite](https://www.mathworks.com/help/matlab/matlab-unit-test-framework.html?s_tid=CRUX_lftnav)

[2020-05-08 17:24] jcohenadad opened #68 "Add mock IMA unsorted data"
to test `sortdicoms` function

put the data on OSF: https://osf.io/ntb32/

[2020-05-08 17:32] jcohenadad opened #69 "Change superclass to 'handle' for Octave 4.0 compatibility"
Ref: https://github.com/brendenlake/omniglot/pull/1/commits/85a191bc6983cfe486989576279317b1b085fc60

[2020-05-08 19:13] jcohenadad opened #70 "Establish code convention"
See for example:
- http://www.cosmomvpa.org/contribute.html#matlab-code-guidelines

[2020-05-08 19:26] kousu commented on #69
There's several Octave compatibility issues. Can we make this issue a meta-issue to handle them all?

[2020-05-08 19:34] kousu commented on #69
1. [ ] `matlab.mixin.SetGet` is matlab specific. But I want us to move away from mutable data anyway, so I think we can just drop this.
2. [ ] The documentation generator uses matlab-specific introspection.
3. [ ] Octave needs explicit dependencies:
  * `octave -e 'pkg install -forge dicom`'
    * and libgdcm needs to be installed separately on the system (`brew install gdcm`, `pikaur install gdcm

[2020-05-08 19:44] kousu opened #71 "Immutable Data Structures"
I think we should make sure all the data structures are write-once. Then we can trust that passing them around as pointers or doing operations on them can't break anything.

If our users run into memory issues we can advise them to either:

- explicitly replace: `img = img.filter()` (which should be just as good as:)
- explicitly use `clear`: `img_filtered = img.filter(); clear img;`

[2020-05-08 20:06] jcohenadad opened #72 "Fix Octave compatibility"
Related to https://github.com/shimming-toolbox/shimming-toolbox/pull/67

[2020-05-08 20:32] rtopfer commented on #70
already there, top of [CONTRIBUTING.md](https://github.com/shimming-toolbox/shimming-toolbox/blob/master/CONTRIBUTING.md#programming-guidelines)

[2020-05-08 20:40] rtopfer commented on #69
As annoying as MATLAB is, I think we're stuck with it for now. Once a fully working prototype exists _in MATLAB_ then it might be worth thinking about making it compatible, or translating it to python etc.

The presumed Toolbox user is someone with access to an MRI + shim hardware; in comparison, assuming they also have access to Matlab is an incredibly small requirement.

[2020-05-08 20:42] jcohenadad commented on #70
this line:
[code]
redirects to a mathworks page, which requires a username/passwd to be able to download a zip file, which needs unpacking, to finally get to the pdf which is 43 pages.

It is much more common and intuitive to just get the guidelines written *inside* the contribution guidelines (not just a link to it). It notably enables to directly point to a feature of the guideline (e.g. argumen

[2020-05-08 20:45] kousu commented on #69
That's a fair response! It means we can't do #67, at least not online. We can make a testing suite that runs on lab computers though.

[2020-05-08 20:45] jcohenadad commented on #69
The advantage of doing the move to Octave asap is to increase our testing coverage. Even if the project is not 100% fully-Octave compatible (but let's say, 80%), then this chunk can be included in our cloud-based testing framework.

[2020-05-08 20:47] jcohenadad commented on #69
I would be curious to know how much Octave-compatibility we can get with the current framework.

[2020-05-08 20:47] kousu opened #73 "Docs"
I think https://github.com/shimming-toolbox/shimming-toolbox#getting-started should contain instructions for users -- for people trying to take readings with the system. To that end it would need links and photos showing how to get/build a shim with the Arduino plugged in, where to plug the Arduino to a laptop, etc. It should also show a simple script they can use with sample data (#68) to get a f

[2020-05-08 20:47] rtopfer commented on #70
It's an extremely useful document + remains relevant. you can read it in 5-10 minutes: 43 pages w/ huge font + mostly white space.

doesn't cover everything + i agree there need to be other points addressed in Contributing. but this pdf should still be mandatory reading as far as I'm concerned.

[2020-05-08 20:48] jcohenadad commented on #69
yes-- title changed

[2020-05-08 20:52] jcohenadad commented on #70
agreed

i've updated the title to be more precise

[2020-05-08 21:01] jcohenadad commented on #73
There is another repository for the documentation, which aims at including some of the "how to", notably hardware description: https://github.com/shimming-toolbox/shimming-toolbox.org

Should we consider merging everything into the same repos? (i would not)

[2020-05-08 21:35] jcohenadad commented on #72
duplicate of https://github.com/shimming-toolbox/shimming-toolbox/issues/69

[2020-05-08 21:35] #72 closed

[2020-05-08 21:36] jcohenadad commented on #69
we have Azure pipeline set up internally, with Matlab license. Should we go that route?

[2020-05-17 19:22] jcohenadad commented on #39
we went with shimming-toolbox 🎉

[2020-05-17 19:22] #39 closed

[2020-05-18 20:40] rtopfer opened #75 "REF: ShimSpecs—replace child classes with parameter files (.json)"
The family of classes ([e.g.](https://github.com/shimming-toolbox/shimming-toolbox/blob/master/Coils/Shim_Greg/ShimSpecs_Greg.m)) consists exclusively of properties (shim system specifications).

Rather than defining Matlab child classes for each new shim system, these attributes should just be listed in .json files—then used to initialize the properties of a single [ShimSpecs](https://github.com/

[2020-05-18 20:43] jcohenadad opened #76 "Accommodate multiband / simulateous multislice acquisitions"
The current formalism does not cover cases like multiband acquisitions.  In these cases, a possible implementation approach is to parse the slices included in each multiband slice group by reading the TWIX meas.dat file header to see the slice orderings.

[2020-05-18 23:50] evaalonsoortiz commented on #61
This issue has been addressed with #rt_issue61

[2020-05-19 00:20] evaalonsoortiz opened #78 "Bug in MaRdI -> getvoxelpositions()"
When looking at the “z” voxel positions that are returned by this function, I see that the values go from positive for index 1 to negative at the last index. However, the voxel positions should follow the patient coordinate system ("z" increases from INF/FOOT to SUP/HEAD).

[2020-05-19 00:41] evaalonsoortiz opened #79 "Log relevant data processing information for realtime_zshim.m in an external file"
Can use matlab's "diary" function.

[2020-05-19 18:36] jaystock commented on #33
For multicoil shim arrays, does the shim optimizer allow the maximum current limit to be specified separately for each coil channel?   For some shim arrays, I could envision wanting to impose a different current limit for each coil.

[2020-05-19 19:02] rtopfer commented on #33
Indeed, each shim system has default limits set in a parameter file:
Currently this is a classdef for each system (e.g. [8ch neck coil](https://github.com/shimming-toolbox/shimming-toolbox/blob/0f47f42054f84caff85f6d59c6499ad182590e01/Coils/Shim_Greg/ShimSpecs_Greg.m#L63))
But I'm suggesting in [issue75](https://github.com/shimming-toolbox/shimming-toolbox/issues/75) that these ShimSpecs files jus

[2020-05-19 19:14] jaystock commented on #33
Thank you @rtopfer for clarifying.   Not to split hairs, but is there also a way to set which shim channels count toward the overall total current limit?   My reason for asking is that when I jointly optimize the Siemens shims and the multi-coil shims together (to get a slight performance gain vs. optimizing sequentially), I have a total current limit for the multi-coil, and a channel-wise limit f

[2020-05-19 19:23] jcohenadad commented on #75
👍 for putting these parameters inside a json file. I also think we should package the json + mat file (which has the current-to-hertz per channel) and host it on OSF. Then, a link to OSF (along with the name of the package, e.g. shimGreg) could be fetched by the CLI (or GUI) for download if requested by the user.

[2020-05-19 20:29] rtopfer commented on #33
@jaystock Sorry for the long-winded answer but the way this is dealt with in the current code is sort of esoteric:

Basically, the is a generic `ShimOpt.optimizeshimcurrents()` method which, as it stands, doesn't limit "total current"—it's strictly per-channel.

However, each shim subsystem can _optionally_ redefine their own version, e.g.: For the 24-channel RRI coil, there _is_ a total current l

[2020-05-20 19:46] rtopfer opened #82 "sortdicoms misnames series subfolders"

[2020-05-20 19:51] #82 closed

[2020-05-20 21:04] rtopfer opened #84 "Toolbox namespaces/packages"
I think it would be sensible to group aspects of the Toolbox into namespaces/libraries.

Matlab does this by prepending folder names with "+" to become ["packages"](https://www.mathworks.com/help/matlab/matlab_oop/scoping-classes-with-packages.html).

I propose packaging at least what I see as the 3 main modules:

1. "+img": preliminary file I/O, image processing stuff (formerly mostly within the

[2020-05-20 21:16] jcohenadad commented on #84
it sounds awesome 👍

i'm not sure i understand the rationale. E.g., if we impose dependency to Matlab's `niftiread`, why would we need a wrapper for it? Is it because we need to accommodate special cases such as dealing with 4d data (e.g. in case we point to a folder with a bunch of 3D volumes, each representing an echo)

Also, do we still need to depend on NIfTI_Toolbox?

Lastly: I guess the img

[2020-05-20 21:32] rtopfer commented on #84
Maybe/probably for the 3d/4d cases. Immediate wrapper application is just to look for + load the accompanying .json along with the image + header. (And _possibly_ to automatically rescale/recast phase images from int16 into doubles in radians, though, this could happen in a separate function file. Working on this currently.)

Don't think we'll need it. But if other users have it installed already

[2020-05-21 00:15] rtopfer commented on #70
@jcohenadad do you want to adopt the `do_this_thing()` style for MATLAB functions/methods from now on? unconventional for Matlab, though it's clearly more readable than `dothisthing()`. previously i've reserved underscores for constants, but these are also indicated with all caps, e.g. `DEFAULT_GYRO=42.576E6`.

non-constant variables are always camelCase, but i've tended to use a leading capital f

[2020-05-21 00:55] jcohenadad commented on #70
right, global (immutable) variables are traditionally all caps snake case (as you wrote above). The reason i went with the snake_case convention is because i noticed you were using camelCase for variables, so i wanted to make a clear distinction between variables and functions. Regarding classes, i've noticed a consensus towards PascalCase (as you also adopted).

that sounds good to me!

[2020-05-21 16:32] rtopfer commented on #70
Re: PascalCase, I gather it's conventional for class _definitions_ but I've tended to use it for object instances (and structs, cells) as well (e.g. `Field = FieldEval()`), which I think might be unusual? It's reminiscent of older languages like FORTRAN that prefix variable names with the type. (I've noticed Siemens still does this sometimes in their C++ code.)

Wondering if it should be adopted o

[2020-05-21 16:46] jcohenadad commented on #70
i would treat these object instances as variables, so camelCase.

[2020-05-22 02:52] #79 closed

[2020-05-22 13:44] gaspardcereza opened #85 "[BUG] Impossible to clone the repository in Windows"
Environment: Windows
Step to reproduce: git clone the project via https
Expected results: successful clone
Actual results: failed clone
Data that caused the issue: It seems that the 'aux' folder is a Windows reserved filenames and makes it impossible to create the corresponding folder in the git local repository. I think we should make sure that every filename in the project is compatible with the

[2020-05-22 15:45] jcohenadad opened #87 "Include Windows OS in CI"

[2020-05-22 15:56] rtopfer opened #88 "Automatic image (field map) processing daemon"
A nice feature for experimental sessions—effectively, an enhancement of [this issue](https://github.com/shimming-toolbox/shimming-toolbox/issues/54)—would be to automatically process GRE mag+phase pairs upon image file sorting into NIfTI field maps.

A feature similar to Matlab's [dicomBrowser](https://www.mathworks.com/help/images/ref/dicombrowser-app.html) would then reveal to the user all the a

[2020-05-22 16:13] jcohenadad opened #89 "Use dcm2bids for conversion"
https://github.com/cbedetti/Dcm2Bids

[2020-05-22 16:16] jcohenadad commented on #89
Example of code to add in the config file that could accommodate our fieldmaps
[code]

[2020-05-22 17:39] rtopfer opened #90 "Consistent subdirectory naming convection"
- Use 'snake_case' for generic folders
- Class directories begin with '@' and follow the class naming convention (PascalCase)
- Package directories begin with '+' and should preferably be short (one word)

[2020-05-22 17:41] #85 closed

[2020-05-25 18:20] gaspardcereza commented on #89
It seems that dcm2bids is not compatible with Windows.
https://neurostars.org/t/dicom-to-bids-conversion-on-windows/5009

[2020-05-25 18:23] jcohenadad commented on #89
the answer is in the thread: Heudiconv seems to work in windows

[2020-05-25 18:34] gaspardcereza commented on #89
So do you propose to work with Heudiconv instead of dcm2bids ? Or just to include a "if" in the code that switches to Heudiconv if we run matlab from Windows ?

[2020-05-25 18:37] jcohenadad commented on #89
yup!

omg, no "if" please 😅

[2020-05-25 20:15] rtopfer opened #91 "`niftiread()`: rescaling phase in Matlab to [-pi,pi]"
A function is needed to shift+rescale phase images and recast to double from int16,
i.e. to perform what this bit of code in [MaRdI](https://github.com/shimming-toolbox/shimming-toolbox/blob/16dae3169400d7a6e573ce80fde1bd2fc4dfe296/Img/MaRdI.m#L2145) does for DICOM's

- `info = niftiinfo( phase.nii ) ;` : the `info` struct generally contains `.MultiplicativeScaling` and `.AdditiveOffset` fields wh

[2020-05-25 20:45] evaalonsoortiz commented on #91
@rtopfer Hmm ... strange that's missing. What is the header name? Are you sure the range varies per sequence? I thought it only varied according to the software version and/or vendor.

[2020-05-25 20:54] rtopfer commented on #91
RescaleIntercept and RescaleSlope (tags: (0028,1052) and (0028,1053)..

No idea whether it actually varies between sequences: I think it's been consistent across the few Siemens GRE sequences we've used but the disclaimer on the FSL/FUGUE page is disconcerting since obviously we want an automated solution for the rescaling and ideally that wouldn't require a massive if/else tree...

[2020-05-26 06:22] kousu commented on #89
`dcm2bids` does run on Windows. It just needs to be run by `python path/to/dcm2bids` because it's not quite packaged properly. And if you install it from source with `python setup.py install` you get a `dcm2bids.exe`. So there's just something weird about their published package; we can raise it as a bug with them.

I tried to do `pip install heudiconv` on Windows and after it downloaded a huge nu

[2020-05-26 07:20] kousu commented on #89
Okay so here's the deal:

the version on pypi *is* broken, but only for Windows: https://github.com/cbedetti/Dcm2Bids/issues/79; it hasn't been updated in over a year though.

the latest HEAD source version does work for Windows, except it is broken worse: https://github.com/cbedetti/Dcm2Bids/issues/76.

If we can solve https://github.com/cbedetti/Dcm2Bids/issues/76 for them then we can it working

[2020-05-26 15:24] jcohenadad commented on #89
@gaspardcereza that would be a good coding exercise for your 😊

[2020-05-26 15:44] gaspardcereza commented on #89
I'm currently having a look at it but it seems that Nick already solved the problem by importing the subpackages !  😉

[2020-05-27 16:48] jcohenadad opened #93 "Unwrapping done after echo subtraction?"
I've noticed that when using fieldmap sequence that outputs individual echoes, the unwrapping is performed after subtracting the two phase images:
https://github.com/shimming-toolbox/shimming-toolbox/blob/master/Img/FieldEval.m#L754

Wouldn't we want to do the unwrapping before subtraction? (I would expect less discontinuities).

[2020-05-27 16:57] rtopfer commented on #93
Depends on delta TE.
E.g. TE2-TE1 < TE2, so the raw phase@TE2 tends to have more wraps (harder to process correctly) than the phase of the complex difference. At 3T, after TE (or delta TE) passes ~5ms, unwrapping is very often prone to error.

Ideally, you'd get the same result either way; more frequently, it's safer to take the complex difference and unwrap that.

* it would, however, be a good i

[2020-05-27 17:02] rtopfer commented on #93
* i'll add: multi-echo fitting of the phase/field is difficult for this reason. The standard approach is to use the first 2 echoes to estimate the slope; spatially unwrap all the echoes; and then use the linear estimate to add pi-multiples wherever unwrapping failed in the later echoes.
(makes sense in theory but i've only had limited success with that approach; partly since signal loss (phase unc

[2020-05-27 17:24] rtopfer commented on #93
Jason (via [colleagues](https://onlinelibrary.wiley.com/doi/epdf/10.1002/mrm.20941)) has suggested that rather than using multiples echoes for field mapping one is better off using multiple excitations (or single echo scans) with different TE's so you're not limited by the read-out length and delta TE can be as short as you want.

(Though it's worth bearing in mind that suggestion comes out of MR

[2020-05-27 17:28] jcohenadad opened #94 "Generate flowchart for an overview of the processes"
As we are refactoring shimming-toolbox, it would be helpful to have an overview of the different processes and how they relate to each other. Notably, knowing the inputs/outputs will help us in the refactoring task.

This (or these) flowcharts should ideally cover all the possible scenario that we would like shimming-toolbox to cover.

[2020-05-28 07:50] kousu commented on #94
I've drawn up my current understanding of where this fits in. The overall goal is to tune an MRI to get better resolution(?)/accuracy(?)/variance(?) in the images taken.

At the high level, first, a calibration scan is done and some tunings computed (per-subject!/per-session!), then those tunings are fed into the real experimental/clinical scan.

In the details, there are several different kinds o

[2020-05-28 07:56] kousu commented on #94
btw, @rtopfer, with regard to refactoring, every 'or' I mentioned above could nicely become an abstract base class. That way the two parts of the process don't need to explicitly communicate which kind they're sendin.g around.

[2020-05-28 17:42] evaalonsoortiz commented on #94
Very nice! I made some minor edits: the "noise-cancelling coil" can be called a shim coil. The "pulse-sequence" compensation method can only compensate 2D images, so I removed the 2d/3d portion. There is no manual step for applying the compensation, the sequence takes care of it when you provide that config. file, same thing for the shim coil (someone else can confirm that though). I tried to modi

[2020-05-28 17:52] po09i commented on #94
@evaalonsoortiz The link shared by Nick does not seem to reflect the changes you made, maybe the link changes according to the edits.

[2020-05-28 18:57] jcohenadad commented on #94
Thank you so much for this initial flowchart @kousu ! As the overall organization (processes, sub-processes, etc.) and their interaction is still under scrutiny, it might be easier for the team to start with a GUI. Let's try draw.io, as it also enables version-tracked embedding (good for our doc)-- we might come back to mermaid or graphiz once we settle on a general overview.

Alexandre and I star

[2020-05-28 19:01] kousu commented on #94
It does! The URL includes the entire source code ((it's base64-json-encoded)). If you click "Download PNG" you can attach the new version here, along with the updated link, @evaalonsoortiz.

[2020-05-28 19:01] kousu commented on #94
But draw.io is good too!

[2020-05-28 19:42] evaalonsoortiz commented on #94
Oh no, I lost it then! I will revisit once it's moved to draw.io

[2020-05-28 20:14] kousu commented on #94
Oh no!

It might still be in your browser history?

[2020-05-28 20:23] evaalonsoortiz commented on #94
It was: https://mermaid-js.github.io/mermaid-live-editor/#/edit/eyJjb2RlIjoiZmxvd2NoYXJ0IFREICAgXG5zdWJncmFwaCBSZWFsdGltZSBTaGltbWluZ1xuXHRjYWxpYjEtLT5jYWxpYjItLT5jYWxpYjNcbiAgICBzdWJncmFwaCBDYWxpYnJhdGlvblxuICAgIHN1YmdyYXBoIGNhbGliMVtSZWNvcmQgTVIgaW1hZ2VzXVxuXHQxX2FbV2VsY29tZSBzdWJqZWN0IHRvIGxhYl0tLT5cblx0MV9iW1BsYWNlIHN1YmplY3QgaW4gTVJJIHNjYW5uZXJdXG5cdC0tPjFfZFxuXHRzdWJncmFwaCAxX2RbQWNxdWlyZSBm

[2020-05-28 20:23] evaalonsoortiz commented on #94
Yes, it's [here](https://mermaid-js.github.io/mermaid-live-editor/#/edit/eyJjb2RlIjoiZmxvd2NoYXJ0IFREICAgXG5zdWJncmFwaCBSZWFsdGltZSBTaGltbWluZ1xuXHRjYWxpYjEtLT5jYWxpYjItLT5jYWxpYjNcbiAgICBzdWJncmFwaCBDYWxpYnJhdGlvblxuICAgIHN1YmdyYXBoIGNhbGliMVtSZWNvcmQgTVIgaW1hZ2VzXVxuXHQxX2FbV2VsY29tZSBzdWJqZWN0IHRvIGxhYl0tLT5cblx0MV9iW1BsYWNlIHN1YmplY3QgaW4gTVJJIHNjYW5uZXJdXG5cdC0tPjFfZFxuXHRzdWJncmFwaCAxX2RbQWN

[2020-05-28 20:47] kousu commented on #94
Thanks Eva! Here's a snapshot of it:

![mermaid-diagram-20200528164650](https://user-images.githubusercontent.com/987487/83192005-e90a6300-a102-11ea-9a87-6c550ccdad65.png)

[2020-05-28 20:54] evaalonsoortiz commented on #94
Thanks for posting. I will expand the 2 options for B0 mapping once we move to another platform.

[2020-05-28 21:06] gaspardcereza commented on #94
Hi Eva, we started something here: https://app.diagrams.net/#G1BqYuqOvTUyPTHhb3z19rktEv6lZU3ehM

[2020-05-28 22:52] kousu opened #95 "Open source Pulse-sequence Programming"
I've been told that the code which picks up this data file (containing a magnetic field gradient matrix, or something like that, I know my terminology is hazy here)

https://github.com/shimming-toolbox/shimming-toolbox/blob/16dae3169400d7a6e573ce80fde1bd2fc4dfe296/example/realtime_zshim.m#L433

is some C++ code written by @evaalonsoortiz which is locked away under NDA to Siemens. I assume it's und

[2020-05-29 01:14] evaalonsoortiz commented on #95
Great question!
A bit of background: The MRI scanner runs what is called a "pulse sequence", ie, a series of instructions as to which RF pulses and magnetic field gradients to turn on when and when to measure the signals that are generated by your object. The "sequence code" is the code, written in C++ (at least for Siemens), that describes these instructions (including reading/writing to external

[2020-05-29 01:17] evaalonsoortiz commented on #94
Do I need special permissions to access?

[2020-05-29 01:23] po09i commented on #94
I checked and you should have access. It's in the acdc-code drive.

[2020-05-29 01:54] kousu commented on #94
This flowchart will eventually turn into a user manual, complete with diagrams and photos of the experimental set up, and several matlab commands. Following that manual should let someone (in my opinion, _without being a trained MRI technician_) perform an experiment.

In order to get there, it's important that the flowchart pays special attention to what data is passed between what component and

[2020-05-29 16:05] rtopfer commented on #95
@jaystock you mentioned the next iteration of driver boards will support encoding waveforms. Is your plan to use existing open-source software for this (e.g. the Freiburg group's pulseq tool), or will it be "in-house"?

[2020-05-31 15:04] jaystock commented on #60
How does the NeuroPoly team handle the 90 deg rotation and R-L flip that occurs in DICOM-to-NIFTI conversion?  Do you manually correct for this or is there a systematic way to keep track of the re-ordering of Matlab matrix dimensions?

[2020-05-31 16:10] jcohenadad commented on #60
We deal with it by systematically relying on the nifti header when opening a data matrix. One thing that could be done, to simplify code, is to reorient the data in a specific orientation (eg RPI) before entering the optimization pipeline. This is indeed an important aspect that needs to be clarified in the code base.

[2020-06-02 01:27] jcohenadad opened #96 "Considering merging shimming-toolbox.org and shimming-toolbox"
Currently, I see more pros than cons for merging those 2 repos.
Cons:
- Enables to merge the contributors graphs generated by github
- No need to oscillate between two repos
- Some discussions get spread out between the two repos, making it difficult to track/organize

[2020-06-02 05:09] po09i commented on #96
I also see more pros than cons. However, it does provide a layer of organization by splitting the documentation from the development.

[2020-06-04 18:56] po09i opened #98 "Update README"
Review things that are out of date (Overview, links, etc)

[2020-06-04 20:02] rtopfer opened #99 "Packaging the code base as a veritable Matlab toolbox"
For ease of installation, upgrading, better options for integrated Matlab documentation, etc.:
[matlab-toolboxes](https://www.mathworks.com/help/matlab/matlab_prog/create-and-share-custom-matlab-toolboxes.html)

[2020-06-04 20:28] gaspardcereza opened #100 "Project submission - OHBM Hackathon (June 16th-18th 2020)"
## Project info
The **shimming-toolbox** is open-source Matlab software enabling a variety of MRI shimming (magnetic field homogenization) techniques for use with custom "multi-coil" arrays or standard manufacturer-supplied hardware.
This project was initiated by the NeuroPoly Lab (Polytechnique Montréal) in collaboration with the Martinos Center for Biomedical Imaging (Harvard Medical School).

*

[2020-06-04 20:30] gaspardcereza commented on #100
Here's a draft of the project submission because we couldn't edit [Julien's post](https://github.com/ohbm/hackathon2020/issues/128) on the hackathon's repo. Feel free to give ideas and edit.

[2020-06-04 20:31] jcohenadad commented on #100
too bad-- let's finalize this today so i can update the issue on the brainhack website. Ping me when finalized

[2020-06-04 20:35] gaspardcereza commented on #100
We still haven't defined the precise goals of the project. We planned to think about it and define the final goals tomorrow during our 2pm code meeting. Is it ok for you if we finalize all that tomorrow ?

[2020-06-04 21:27] Remi-Gau commented on #100
Let me if anything is unclear with the project submission process for the hackathon. Happy to help. :-)

[2020-06-06 20:34] jcohenadad commented on #100
@rtopfer @po09i can you please define these acronyms: SWFM, LLSf (sorry no time to google...)

[2020-06-06 20:57] gaspardcereza opened #101 "Implement multi-echo B0 mapping algorithms"
We assume that multi-echo B0 mapping is a potential way of obtaining better B0 maps compared to classic dual-echo methods.
Here are some algorithms that could be implemented:
- Selective Weighted Field Mapping (SWFM)
- Linear Least Square fit (LLSf)
More info: [Fatnassi 2018](https://pubmed.ncbi.nlm.nih.gov/30272567/)

This issue stands as a one of the starting points for the OHBM 2020 BrainHack H

[2020-06-06 21:17] po09i opened #102 "Create numerical model data for multi-echo field maps"
Add the ability to generate nifti multi-echo fieldmap data.
- The data should include magnitude and phase for more than 2 echoes.
- The data should include wraps.
- The output should be a nifti file containing the data stored as (x,y,z,time,echo) as well as a matlab vector containing the data. (the time component can be 1 for now)

[2020-06-06 21:42] po09i commented on #100
@jcohenadad The project submission can be copied on the hackathon page. The link was posted on the first comment :

The steps for submission are as follow, step one and two are done so we can proceed with step 3.

[2020-06-06 23:04] jcohenadad commented on #101
@this is not a "good first issue" but an overarching goal for a 3-day hackathon

[2020-06-06 23:05] jcohenadad opened #103 "Hackathon: propose Twitter-size summary of your project pitch"
this is important for visibility

[2020-06-06 23:05] jcohenadad opened #104 "Hackathon: Provide an image of your project for the OHBM brainhack website"
important for visibility + it was specifically asked for: https://github.com/ohbm/hackathon2020/issues/128#issuecomment-640140605

[2020-06-06 23:06] jcohenadad opened #105 "Hackathon: Set up a kanban board on your repository to better divide the work and keep track of things"

[2020-06-06 23:08] jcohenadad opened #106 "Create project snippet for the OHBM Brainhack website"

[2020-06-06 23:09] jcohenadad opened #107 "Specify how will you acknowledge contributions (e.g. listing members on a contributing page)."

[2020-06-06 23:09] jcohenadad opened #108 "Provide links to onboarding documents if you have some."

[2020-06-07 15:57] rtopfer commented on #109
Rough sketch (tuning fork + dipole field). *Please* someone w/more graphic design skill do something with either concept!

![shimming-toolbox-logo_RT_v0](https://user-images.githubusercontent.com/3819344/83973416-34b3ce00-a8b4-11ea-8b47-4508da55642b.png)

[2020-06-07 20:36] jcohenadad commented on #109
happy to "tune" this logo (i would try without the horizontal grey line). What format is that in? if you could put the source on the gdrive it would be awesome

[2020-06-07 23:59] evaalonsoortiz commented on #107
Any contributors will automatically be listed [here](https://github.com/shimming-toolbox/shimming-toolbox/graphs/contributors), right? We can state that.

[2020-06-08 13:40] gaspardcereza commented on #101
Our idea was to compare different algorithms to find the one that could be the most efficient for our B0 mapping. That's why we thought that one of the first thing to do was to implement different algorithms. We also see this as a way to understand how the B0 mapping works.

[2020-06-08 14:54] jcohenadad commented on #101
sure, but a "good first issue" is supposed to be [beginner-friendly](https://help.github.com/en/github/getting-started-with-github/finding-ways-to-contribute-to-open-source-on-github#finding-good-first-issues). Implementing a B0 mapping algorithm is not something a first-year bachelor student in CS or physics would be able to do. It (i) requires extensive understanding of MR physics, (ii) describe

[2020-06-08 19:28] jcohenadad opened #111 "Update CONTRIBUTING.md"
some of the procedures are outdated, we could consider updating them with this recent example from the lab: https://ivadomed.org/en/latest/contributing.html

[2020-06-08 19:34] po09i commented on #103
Neuropoly’s shimming-toolbox team participates in OHBM Brainhack Hackathon. This year’s project aims to implement multi-echo field mapping algorithms and assess their efficiency.
https://github.com/shimming-toolbox
@PolyNeuro
#OHBMHackathon #Brainhack #OHBM2020

[2020-06-08 19:36] po09i commented on #104
Could provide shimming-toolbox's logo once it is finished in #109

[2020-06-08 19:37] po09i commented on #106
The project snippet currently has the project description on BrainHack's [website](https://ohbm.github.io/hackathon2020/)

[2020-06-08 20:11] gaspardcereza commented on #106
Alexandre and I are happy with the description as it is. @jcohenadad is it ok for you ?

[2020-06-08 20:30] po09i commented on #110
I like the idea of having B0 and B1 data stored and used the same way (mag double and phase double). I'm not aware of any cons.

[2020-06-10 02:02] jcohenadad commented on #100
updated!

[2020-06-10 02:02] #100 closed

[2020-06-12 03:28] po09i commented on #107
Added in the [hackathon post](https://github.com/ohbm/hackathon2020/issues/128)

[2020-06-12 03:28] #107 closed

[2020-06-12 03:33] po09i commented on #103
@jcohenadad Can you update the [hackathon post](https://github.com/ohbm/hackathon2020/issues/128) with :

**Twitter project pitch**
Neuropoly’s shimming-toolbox team participates in OHBM Brainhack Hackathon. This year’s project aims to implement multi-echo field mapping algorithms and assess their efficiency.
https://github.com/shimming-toolbox
@PolyNeuro
#OHBMHackathon #Brainhack #OHBM2020

[2020-06-12 15:14] #104 closed

[2020-06-12 15:14] gaspardcereza commented on #104
Our logo is now displayed on the hackathon's website.

[2020-06-12 15:53] jcohenadad commented on #103
done 😊

[2020-06-12 15:53] #103 closed

[2020-06-15 20:57] jcohenadad opened #115 "Prepare example file for hackathon"
- from videotape branch:
  - clean experiment.m
  - add instructions about where is the call to fieldmap generation
  - move this file to: examples/experiment.m
- merge videotape branch
- complete instructions on project "general information and resources/Getting started": https://github.com/shimming-toolbox/shimming-toolbox/projects/3

[2020-06-15 21:36] gaspardcereza opened #116 "Implement Selective Weighted Field Mapping (SWFM)"
SWFM is a multi-echo B0 field mapping algorithm described in [Fatnassi 2018](https://pubmed.ncbi.nlm.nih.gov/30272567/).

[2020-06-15 21:38] gaspardcereza opened #117 "Implement the Linear Least Square fit algorithm (LLSf)"
The magnetic (B0) field can be measured from a series of gradient echo (GRE) images through a linear least squares regression of the phase of the GRE images vs. the echo times (TEs) [1]. Phase wraps can be removed by adding or subtracting 2π whenever the phase across successive TEs differs by more than π.

LLSf-based B0 mapping has been implemented [here](https://github.com/evaalonsoortiz/LLSf_B0m

[2020-06-15 21:58] gaspardcereza commented on #110
A little bit more context:
- For B1 mapping, the scanners does most of the work. I just need to reorganize the Dicoms (gather the corresponding phase and magnitude for each slice and each coil)  and scale them to get the B1 maps that will be used to compute the shim coefficient. These B1 maps are 4-dimensional (x, y, z, Coil).
- For B0 mapping, we have magnitude and phase maps with different times

[2020-06-16 00:42] evaalonsoortiz commented on #110
It's not clear to me if you are asking whether we should have magnitude and phase nifti files in separate folders (IMO: not necessary, we can have both in the same folder if you prefer that) or if it is ok to have magnitude and phase data as part of the same nifti file (although possible, I would say definitely no).

[2020-06-16 01:07] evaalonsoortiz commented on #101
Should we close this issue now that it has been broken down into smaller bits?

[2020-06-16 01:15] jcohenadad commented on #110
@gaspardcereza i suggest you update the [flowchart](https://app.diagrams.net/#G1BqYuqOvTUyPTHhb3z19rktEv6lZU3ehM) to indicate the type of data you are acquiring under the triangle "B1 mapping". That way, the whole team is on the same page.

Are you talking about NIfTI data or matlab matrices? If the former: can you point us to the code that creates these 5-d NIfTI files?  If the latter: this is a

[2020-06-16 01:50] po09i commented on #115
@gaspardcereza just merged the videotape branch, can you update the "general information and resources/Getting started"

[2020-06-16 01:51] gaspardcereza commented on #101
Done

[2020-06-16 01:51] #101 closed

[2020-06-16 02:06] evaalonsoortiz commented on #117
I will add a link to some scripts once I get permission from other contributing authors.

[2020-06-16 04:10] po09i opened #120 "Algorithm ideas for B0 fieldmaps"
List of things that we can implement during the hackathon.

[Linear Least Square fit algorithm (LLSf)](https://github.com/evaalonsoortiz/LLSf_B0mapping)
[Selective Weighted Field Mapping (SWFM)](https://pubmed.ncbi.nlm.nih.gov/30272567/)
[UMPIRE](https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4062430/)

Spatial Phase unwrapping
- Sunwrap
- wrapper to Prelude
- SEGUE
- QGU

[2020-06-16 13:50] gaspardcereza commented on #110
I was asking the second option. Why is it preferable to have phase and magnitude in different Niftis ?

[2020-06-16 13:53] jcohenadad commented on #110
because
- this is more common
- the image quantization could be different between phase and magnitude data
- most fieldmap software do expect 3D inputs (phase and/or mag)

[2020-06-16 13:58] gaspardcereza commented on #110
dcm2niix puts them into the same nifti by default. I'll look for a way around it. Thanks for the explanation. It is indeed easier when written down 😉

[2020-06-16 14:01] jcohenadad commented on #110
ah?

nope, that's not the right procedure 😉 . Can you please:
- post a new issue in this repository to declare this problem
- provide syntax + data for others to be able to reproduce the issue
- indicate your version of dcm2niix + OS

[2020-06-16 14:02] gaspardcereza commented on #105
@jcohenadad can we close this issue now that the kanban board is set up and ready to be used ?

[2020-06-16 14:03] jcohenadad commented on #105
kanban board has now been implemented

[2020-06-16 14:03] #105 closed

[2020-06-16 14:14] evaalonsoortiz commented on #110
Could you could share some dicom B1+ data with me? I'd like to test this out.

[2020-06-16 14:17] evaalonsoortiz commented on #120
What's the goal of this issue? To have an exhaustive list of B0 mapping methods? If so I can add more. For the phase unwrapping algorithms I would put that into a separate issue. Is the goal there to have participants in the hackathon potentially re-implement some of these phase unwrapping methods within the new nifti framework?

[2020-06-16 14:18] gaspardcereza commented on #110
I used the standard rf maps from the MNI measurements (on duke/mri/mni-7t):
ACDC_SPINE7T_001_20_02_20-16_27_40-STD1_3_12_2_1107_5_2_0_79017\DEVELOPMENT_DR_COHENADAD_20200221_110129_199000\STANDARD_0106

[2020-06-16 14:25] po09i commented on #120
My goal is to have a list of things that we can implement during the hackathon.

[2020-06-16 14:28] jcohenadad commented on #110
@gaspardcereza no please, do it the proper way, as i described here: https://github.com/shimming-toolbox/shimming-toolbox/issues/110#issuecomment-644785868

we all need to get the habit of properly documenting each issue, separately, and associate datasets to it (if <10MB, upload as zip). The present issue thread is specific to "Separation of magnitude/phase for B1 field", this has nothing to do w

[2020-06-16 14:36] mathieuboudreau commented on #120
FYI: The FSL license doesn't allow for reproducing the code, so if you want to write up a PRELUDE algorithm I don't think you can "look under the hood" too much: https://fsl.fmrib.ox.ac.uk/fsl/fslwiki/Licence

I don't think there's anything preventing you from reading the PRELUDE paper (https://onlinelibrary.wiley.com/doi/full/10.1002/mrm.10354) and writing up your own algorithm from scratch thoug

[2020-06-16 14:37] mathieuboudreau commented on #120
We had a whole discussion about our experience playing with a few different B0 map algorithms  in the qMRLab repo: https://github.com/qMRLab/qMRLab/issues/48

[2020-06-16 14:37] evaalonsoortiz commented on #120
Yes, we should be clear that we are looking to write wrappers to some of these functions (such as prelude).

[2020-06-16 14:40] evaalonsoortiz commented on #120
Thanks for the link! Lots of valuable discussions in there.

[2020-06-16 14:41] gaspardcereza commented on #110
Yes I'm on it ! I'm just trying to gather info to make it clearer. I just wanted to give Eva the data if she wanted to have a quick look at what it does

[2020-06-16 14:42] evaalonsoortiz commented on #120
I think that the General info section in the kanban board is the best place for a *wishlist* like this. Then for the individual items, an individual issue with more descriptions.

[2020-06-16 14:52] jcohenadad commented on #121
@gaspardcereza if the data are <10MB, it is better to upload them here because:
- duke is internal access
- easier to just click and download
- uploading a zip file is immutable (whereas a link is not-- which might hamper reproducibility in the future)

[2020-06-16 14:53] po09i commented on #120
That makes sense, I can put the items in a wishlist in the Kanban board.

[2020-06-16 14:53] jcohenadad commented on #121
also, always a good habit to put the exact syntax you used:
- more time efficient for the person reproducing your issue,
- better reproducibility (in case you used flags, etc.)

[2020-06-16 15:23] po09i commented on #120
Can close, moved to Kanban board description.

[2020-06-16 15:23] #120 closed

[2020-06-16 16:45] #98 closed

[2020-06-16 17:14] evaalonsoortiz commented on #122
@rtopfer  Does the wrapper [prelude.m](https://github.com/shimming-toolbox/shimming-toolbox/blob/master/misc/prelude.m) depend on MaRdI? Does anything need to be changed for it to be functional with [read_nii](https://github.com/shimming-toolbox/shimming-toolbox/blob/master/%2Bimutils/read_nii.m)?

[2020-06-16 17:20] gaspardcereza commented on #106
The snippet is visible on the hackathon's website[website](https://ohbm.github.io/hackathon2020/). @jcohenadad can we close that issue ?

[2020-06-16 17:24] mathieuboudreau commented on #102
I can maybe contribute to this one. B0 maps is likely the quantitative technique that I'm less familiar with, so I might need some "supervision" to make sure I don't stray off too much.

[2020-06-16 17:37] mathieuboudreau commented on #102
Is it ok to do this simulation in 2D to start off with? Or is 3D preferred?

I had a Shepp-Logan code setup for some T1 compressed sensing during my PhD that I could reuse, but it was in 2D: https://github.com/mathieuboudreau/Sparse-VFA-T1-by-OMP/blob/master/utils/createModSheppLoganBrainTissueT1Phantom.m

There's some 3D ones available too online: https://www.mathworks.com/matlabcentral/fileexcha

[2020-06-16 17:38] mathieuboudreau commented on #102
I created this branch for myself: [mb/numerical_model](https://github.com/shimming-toolbox/shimming-toolbox/tree/mb/numerical_model)

[2020-06-16 17:49] po09i commented on #102
Notes from @rtopfer :
- magnitude (signal) follows a known model of exp. decay (Eq. 1)
- phase (signal) increases linearly w/echo time
- phase SNR ≅ mag SNR
- mag noise distribution is approx. Gaussian

[2020-06-16 18:15] mathieuboudreau commented on #102
Great, thanks!

I've created a basic class + tests.

My string of ideas would be to do something of the following:

* [ ] Create basic starting volume upon class initialisation (e.g. 2D Shepp-Logan)
  * [ ] Assign properties for different "classes" of tissue (e.g. T2)
* [ ] Define property or methods to keep track of the volume after changes are made to it (i.e. volume vs starting volume).
* [ ] A

[2020-06-16 18:27] rtopfer commented on #122
@evaalonsoortiz it just depends on FSL. It would however be a good idea to replace the calls to the outdated function `nii` ([e.g.](https://github.com/shimming-toolbox/shimming-toolbox/blob/180a3f1dff1c1dc660928054ec8999ccb6bfff6a/misc/prelude.m#L106)) with the new `imutils.read_nii`.

[2020-06-16 18:35] rtopfer commented on #102
(Note edited "[Eq. 1](www.ajnr.org/content/30/1/19)" in above comment to link to the intended article from Haacke et al.)

[2020-06-16 20:13] tashrifbillah commented on #112
What file format does it accept now?

[2020-06-16 20:25] tashrifbillah commented on #116
I can work on this but would need an overview of the input and output.

[2020-06-16 20:30] gaspardcereza commented on #112
Hi Tashrif, thanks for showing interest in our work !
Until now we were dealing with `DICOM` files as it is quickly explained [here](https://github.com/shimming-toolbox/shimming-toolbox/blob/199b4045c9dfed1343dbbc578e51a4f5c385c1f5/Img/FieldEval.m#L739). We recently decided to go with `NIFTI` files because they are compatible with many applications and have many  other handy features. The idea her

[2020-06-16 20:38] po09i commented on #116
Awesome!
As an input, we will have a matlab vector array containing ( x , y , z , nAcquitions , echoes ). The goal is create fieldmaps so as an output we would have ( x , y , z , nAcquitions ). The output might be different depending on how the paper uses the acquisitions to generate the data but it should look like this.
We are working in parallel to develop a [numerical model dataset](https://gi

[2020-06-16 21:09] tashrifbillah commented on #112
Can we chat on Zoom?

[2020-06-16 21:12] po09i commented on #112
Would jitsi work for you? We are currently in a call and you can join. The link is on the general info of the [kanban](https://github.com/shimming-toolbox/shimming-toolbox/projects).

[2020-06-16 21:14] tashrifbillah commented on #112
Don't see any link neither any text "kanban".

[2020-06-16 21:15] po09i commented on #112
[Video link](https://meet.jit.si/shimming-toolbox-hackathon)

[2020-06-17 02:37] evaalonsoortiz commented on #102
I don't see any reason why 2D wouldn't be OK. We acquire 2D field maps for our applications often enough that we have methods for analyzing/unwrapping them.

If you are simulating the magnetic field assuming no local inhomogeneities, why not go with a constant (uniform) field?

[2020-06-17 02:39] mathieuboudreau commented on #102
What's the difference between the `time` and `echo` parameters `data` from the original comment in the issue?

[2020-06-17 02:40] mathieuboudreau commented on #102
I just realized that since this isn't clear to me, maybe I didn't fully understand the initial problem

[2020-06-17 02:43] evaalonsoortiz commented on #102
We often acquire a time series of field maps. I will edit the original description to try to make it clearer.

[2020-06-17 03:02] evaalonsoortiz commented on #102
Ok, I started to edit the description and realized that I too am confused. We often acquire a time series of dual-echo data to generate a time series of field maps. However, looking [here](https://brainder.org/2012/09/23/the-nifti-file-format/) I see that the nifti format dimensions should be: x,y,z,t, with t being time, which is usually understood to be the echo time. There are 3 additional dimen

[2020-06-17 03:53] po09i commented on #102
@evaalonsoortiz I understood t as being acquisition number and not echoes and discussed with Ryan and Gaspard about what format we should use, we concluded on acquisition number but I am open to change again if the normal format is (x,y,z,echo,acqNumber) (only experiment.m and load_niftis would change).

[2020-06-17 11:34] jcohenadad commented on #102
I’m ok with `(x, y, z, echoTime, acqNumber) `, or better:  `(x, y, z, echoTime, acqTime) `, so all dimensions are in physical units (otherwise we need to keep a hand in the TR to convert acqNumber in seconds

[2020-06-17 13:53] evaalonsoortiz commented on #102
I no one objects, I would like to go with `(x, y, z, echoTime, acqTime) `, . Can anyone confirm that fsleyes would open such an image?

[2020-06-17 14:08] jcohenadad commented on #102
ok, i misread the main goal [here](https://github.com/shimming-toolbox/shimming-toolbox/issues/102#issue-632737303). I thought we were talking about the matlab array organization (i.e. matlab variable, not nifti file). Question: why do we absolutely need to have everything inside a single nifti file?

I guess this is a more general question about our workflow:
- do we want to deal with single 5D n

[2020-06-17 15:47] jcohenadad commented on #128
i think this function will not only be used for testing purpose, but also as a function that should be exposed to the user for calculating B0 fieldmaps, as it is already the case with the [FieldEval](https://github.com/shimming-toolbox/shimming-toolbox/blob/f320602c07c97216176daaee3ebf8ca0542368da/Img/FieldEval.m#L744) function, which I believe will be refactored at some point

[2020-06-17 15:47] po09i commented on #102
@jcohenadad You were right the first time, we are talking here about how to represent the data under Matlab which makes sense to store an acquisition under one 5d variable, I think the general community assumes this order (x,y,z,echoNumber, acquisitionNumber) which is what we want to go forward with. We can discuss how to store the matlab vector in a seperate issue?

Going this route also means it

[2020-06-17 16:39] evaalonsoortiz commented on #102
For the matlab data structure: 5D is fine and we can go ahead with `(x, y, z, echoTime, acqTime)` Note that the index of the 5th dimension is the acquisition number and the variable that is stored is the acquisition time. Likewise for the 4th dimension.

For saving nifti's: If we try to stick to the [BIDS convention](https://bep001.readthedocs.io/en/dev/04-modality-specific-files/01-magnetic-reson

[2020-06-17 16:42] rtopfer commented on #102
Note: it doesn't support it for generic numeric arrays, but we could instead deal with images straightforwardly as a different type:
- [`map.Containers`](https://www.mathworks.com/help/matlab/map-containers.html) or,
- define a basic image class and overload the [assignment operators](https://www.mathworks.com/help/matlab/ref/subsasgn.html).

[2020-06-17 18:58] jcohenadad commented on #130
So, there are various levels that needs to be considered here:
- log file output by shimming-toolbox functions: should we go with a single log file that would be appended after each process?
- output of nifti files: should we add a custom field in the json that indicates "processed by shimming-toolbox, version XXX"? This is common BIDS convention. BTW: the processed files would go under a `derivat

[2020-06-17 19:52] rtopfer commented on #99
@kousu @jcohenadad @po09i might be prudent to keep this in mind for the [website](https://github.com/shimming-toolbox/shimming-toolbox/pull/129) and API reconfiguration^:
eg. maybe the site itself should just contain documentation for a *stable* release and *not* rebuild with every new commit?
MATLAB has functionality to upgrade custom toolboxes but idk if/how that integrates with git/CI.

[2020-06-17 19:59] jcohenadad commented on #99
this is where readthedocs is useful, in that it can host the doc for multiple releases and branches. Not sure how we can do that with gh-pages (which only points at a single version).

[2020-06-18 00:34] po09i commented on #115
this can be closed as it was done.

[2020-06-18 00:34] #115 closed

[2020-06-18 04:34] rtopfer commented on #133
There is the beginning of a representative example/template in the [`helpDocMd` repo](https://github.com/shimming-toolbox/helpDocMd/blob/6de0d2346dec01761e731f33ed0211d5c8d4c200/src/%40Advisor/function_template.m#L18) but it's only a draft

[2020-06-18 14:03] gaspardcereza commented on #133
I will adapt my doc following Ryan's template . Previously I was trying to follow the [imutils/read_nii.m](https://github.com/shimming-toolbox/shimming-toolbox/blob/master/%2Bimutils/read_nii.m) example because @po09i told me that it was the best documented so far. It would indeed be great to have an exhaustive convention !

[2020-06-18 16:38] po09i opened #135 "Remove the trigger of Azure pipeline's website generation from PRs"
Currently, the website gets built on every push to a PR whose branch was created after June 17th (need to have the azure-pipelines.yml file in the branch). This should be changed so that only the master branch gets built.

The best solution would be on a merge to master but since azure is built for CI, this might not be available. Other options include scheduled triggers (at noon everyday) and man

[2020-06-18 16:42] gaspardcereza commented on #135
If we choose the schedule triggers, is it still possible to trigger it manually at any moment ?If so I think it's a better solution than relying only on manual triggers.

[2020-06-18 16:48] po09i commented on #135
I'm confident the manual runs would also trigger the build of the website although not 100% sure. Would have to make sure.

[2020-06-18 17:04] jcohenadad commented on #135
Daily build seems reasonable to me

[2020-06-18 18:05] po09i commented on #135
I figured out that triggers are different than PR triggers. Triggers are when a change to a branch is done and PR triggers are done when there is a change to a PR. It is possible to know which trigger started the build at runtime so we can check that the trigger was on a change to master and only update the website in that case.

[2020-06-18 19:06] #135 closed

[2020-06-18 20:12] po09i opened #137 "Fill support.md"
This section should include

- Who to contact
- Where to go (e.g. link to Forum) if people need support to use the software

[2020-06-18 20:14] po09i opened #138 "Fill hardware/description.md"
This section should include the hardware description.

[2020-06-18 20:24] po09i opened #141 "Remove numbers in front of sections on the website"
One possible solution is to wait for this [mkdocs issue](https://github.com/mkdocs/mkdocs/issues/714) to be implemented. Some comments in the issue have already been done to fix it.

[2020-06-18 20:25] po09i opened #142 "Collapse navigation sidebar"
The sidebar is currently uncollapsed everywhere. We want it to be collapsed when entering the website

[2020-06-19 19:45] po09i opened #144 "builddocsearchdb throws an error when building custom toolbox documentation"
builddocsearchdb throws an error the first time the custom toolbox documentation is built. Current way to fix it is restarting matlab and launching the doc again.

To reproduce :
open Matlab
[code]
Quitting matlab and rerunning the commands above fixes the issue.

 Then to reproduce, delete these files
[code]

and run the commands again.

[2020-06-19 19:55] po09i commented on #143
I actually [fixed](https://github.com/shimming-toolbox/shimming-toolbox/pull/136) part of this yesterday, we have 2 azure pipelines:
- [One](https://github.com/shimming-toolbox/shimming-toolbox/blob/master/azure-pipelines.yml) for the doc generation that runs on every merge to master
- [One](https://github.com/shimming-toolbox/shimming-toolbox/blob/master/tests/azure-pipelines.yml) pipeline that r

[2020-06-19 20:17] jcohenadad commented on #133
Currently, the `__TEXT__` is not formatted by matlab's help or doc:
[code]

is there a reason for having chosen this markdown? @rtopfer @po09i ?

[2020-06-19 20:33] jcohenadad commented on #133
So far, the [following template](https://github.com/shimming-toolbox/helpDocMd/blob/6de0d2346dec01761e731f33ed0211d5c8d4c200/src/%40Advisor/function_template.m#L18) has been used.

[2020-06-19 21:10] rtopfer commented on #133
Apart from highlighting and linking to function names, I don't think the printed `help` output in MATLAB does any additional formatting (i.e. not even with their own [Markup](https://www.mathworks.com/help/matlab/matlab_prog/marking-up-matlab-comments-for-publishing.html))

So far it's just trial-and-error, experimenting with that looks decent
- in the MATLAB terminal, via `help`, vs
- in the MATL

[2020-06-19 21:16] rtopfer commented on #133
I should add: The particular Markdown formatting is indeed informed by MATLAB's Markup rules, which is very similar to Markdown but there are discrepancies.

For now, their Markup only seems to apply to Live scripts/functions, but I'd assume that MATLAB will eventually support Markup rendering within their own `help` and `doc` displays for regular .m files (i.e. without having to first convert to

[2020-06-19 21:18] jcohenadad commented on #133
right. my current strategy is the following:
- understand how to properly format with matlab's browser;
- then, adapt header to obtain reasonably good output with the 'help' command, while trying to be as close as possible to [this template](https://github.com/shimming-toolbox/helpDocMd/blob/6de0d2346dec01761e731f33ed0211d5c8d4c200/src/%40Advisor/function_template.m#L18)
- then, modify the HelpDoc

[2020-06-19 21:46] jcohenadad commented on #133
For now, the `publish` function uses Matlab's markdown, which is extremely limited. There is a possibility to modify the [stylesheet](https://www.mathworks.com/help/rptgen/ug/about-stylesheets.html) when generating the html.

[2020-06-19 21:50] rtopfer commented on #133
Re: Linking to references at the end of the documentation header, I found a hack yesterday worth noting + probably worth including in a template:

MATLAB automatically adds the links when function/script/class entries are provided in a list where the line begins with "See also", e.g.
[code]
Ideally, this reference section should work with local links to help entries while running MATLAB *and* webl

[2020-06-19 21:59] jcohenadad commented on #133
A few trials & errors:

## header at the beginning of the file
The following:
[code]

will look nice on the browser (see below):
![image](https://user-images.githubusercontent.com/2482071/85182392-85cda580-b256-11ea-92ca-ce579be1b8f2.png)

but will render a truncated doc this 'help':
[code]

So, it should be avoided

[2020-06-19 22:17] rtopfer commented on #133
Works for me?
via `help`
![Screen Shot 2020-06-19 at 6 15 11 PM](https://user-images.githubusercontent.com/3819344/85183255-15745380-b259-11ea-9c43-6e5ccd834b48.png)
via `doc`
![Screen Shot 2020-06-19 at 6 15 40 PM](https://user-images.githubusercontent.com/3819344/85183264-1907da80-b259-11ea-8971-7dd2aefe958f.png)

Try adding a comma after the end parenthesis ")" and 2x spaces after each line in

[2020-06-19 22:22] rtopfer commented on #133
I thought maybe you meant in the webbrowser, eg. github, but this still works for me?
[ Google ](https://www.google.com/)

[2020-06-19 22:23] jcohenadad commented on #133
hehe... that's where things get complicated: there are "two" doc commands:
- matlab's "browser" equivalent of help (a nice formatted version of help):
![image](https://user-images.githubusercontent.com/2482071/85183491-e9a59d80-b259-11ea-9098-4ca20bbde597.png)

- matlab's "live browser" (which i've been working on, and been referencing to):
![image](https://user-images.githubusercontent.com/248207

[2020-06-19 22:34] rtopfer commented on #133
Ah I see... If the latter will ultimately display the rendered HTML there could be a step added in the doc process remove the inner-bracket spaces

[2020-06-20 00:07] rtopfer commented on #133
I don't have a strong opinion either way but Re: __SYNTAX__ and __DESCRIPTION__ sections, while it would be useful to include the sections explicitly in a template for consistency + as a reminder to include them in a specific order, I find they're rather redundant: it's pretty obvious what the sections are without the added text, which is probably why MATLAB doesn't display section headers in the

[2020-06-20 19:10] jcohenadad commented on #133
After struggling with Matlab's markup for rendering in the "new doc" (2nd option in [this comment](https://github.com/shimming-toolbox/shimming-toolbox/issues/133#issuecomment-646880685)), I realize there are intrinsic incompatibility that makes [this plan](https://github.com/shimming-toolbox/shimming-toolbox/issues/133#issuecomment-646863899) impossible.

So, my updated strategy is the following:

[2020-06-20 19:28] jcohenadad commented on #133
Exceptions/compromises to be made:
- hyperlinks in headers will be encoded as html <URL link>, so they will be automatically parsed for the "new doc".

[2020-06-21 18:13] jcohenadad commented on #96
@po09i what is the status of this?

[2020-06-21 21:56] jcohenadad opened #146 "Add CHANGES.md to the project, with automatic update for new releases"
## Context

A file CHANGES.md is common in software projects. It lists the notable changes for each new release.

However, such file requires high maintenance load, making sure we don't forget important features associated with a new release.

## Proposed solution

- Implement a script to create changelog automatically, as done in [SCT project](https://github.com/neuropoly/spinalcordtoolbox/blob/m

[2020-06-22 01:06] #102 closed

[2020-06-22 04:57] po09i commented on #96
Everything in the shimming-toolbox.org repo has been closed or transferred to this repo. Once the shimming-toolbox.org repo gets closed, this issue can be closed.

[2020-06-22 05:22] po09i commented on #133
I have not worked on helpDocMd enough to know how feasible adding a new formatting output is as it was designed with markdown output from the beginning. Hopefully this can easily be done as it seems a really good idea. What do you think @rtopfer

[2020-06-22 16:28] jcohenadad commented on #96
https://github.com/shimming-toolbox/shimming-toolbox.org was archived (just in case...)

[2020-06-22 16:28] #96 closed

[2020-06-22 16:54] po09i commented on #108
Hackathon is over and links were provided on the hackathon issue's page

[2020-06-22 16:54] #108 closed

[2020-06-22 17:33] rtopfer commented on #133
The motivation/context isn't entirely clear to me. Is the idea simply to have .html documentation for viewing internally within the Matlab browser?

What would the advantage to using `publish` be (e.g. vs. taking the .html output from the Mkdocs build?)? `publish` doesn't really work with classes, which, indeed, was/is the basic reason for the `helpDocMd` repo. (Granted, at this point we could pro

[2020-06-22 17:41] gaspardcereza opened #147 "Add B1 shimming related functions to +imutils package"
<h1>Objectives</h1>
Add functions to perform B1 mapping and shimming to the `+imutils` package (under `+imutils/+B1`). The functions will have to be documented following the convention that will be defined in #133.
Unit tests and testing data must also be provided.

[2020-06-22 17:48] jcohenadad commented on #133
yes, indeed.

the advantages I see with `publish` are:
- accessing the documentation from within Matlab for conveniency
- getting closer to a proper Matlab toolbox #99

are you referring to matlab's markdown tables? do you have an example? i really like html table outputs, each argument appears very clearly, and we can use columns for: name, type, description, e.g. [here](https://www.mathworks.com

[2020-06-22 17:51] jcohenadad commented on #147
i would suggest to use lowercase, i.e. `+imutils/+b1`, as also did for the `+b0` package https://github.com/shimming-toolbox/shimming-toolbox/pull/125/files

[2020-06-22 17:58] gaspardcereza commented on #147
I thought you once said that b0 could be misguiding because it could also refer to another term (I can't find the comment though so maybe I just dreamed about it).

[2020-06-22 18:11] rtopfer commented on #133
👍 just to underline my previous suggestion "print the current class .md output to .m files and call `publish` on those, i.e. as if they were merely scripts consisting entirely of comments"—this would be trivial to implement (though, whether it would be *adequate* in itself is another question)

I mean like [this](https://github.com/shimming-toolbox/shimming-toolbox/blob/782fcd6251bdb19f435c27ec10b

[2020-06-22 18:22] jcohenadad commented on #147
indeed, in the MRI community "b0" often refers to the b-value =0 in DWI experiments. However, in this context, there should not be too much confusion (it is clear we talk about static B0 field), and i find the pros more appealing:
- sticking to snake-case convention for functions/packages
- easier to type on the keyboard (no need for SHIFT)

[2020-06-22 19:14] jcohenadad commented on #133
ah! indeed. Now i understand why there are all those funky characters in the header. Well in that case, since we are "close" to a nice solution, let's not spend too much time developing a parser. That could be a summer intern CS project.

On the other hand, we could still tweak the format of the fields using simple solution, as discussed [here](https://github.com/shimming-toolbox/helpDocMd/issues/

[2020-06-22 21:03] po09i commented on #144
More investigation concluded that the paths need to be updated in a specific way :
The following [code ](https://github.com/shimming-toolbox/shimming-toolbox/blob/d725cf165d45a64295a1c0764c2df33f61814ab7/external/genToolboxHelp.m#L174) does not work when ran the normal way using the above procedure however, it does work if adding a breakpoint on the addpath line and continuing the execution. (This

[2020-06-22 21:09] po09i commented on #148
I think we should also have a maximum depth as having 3 folders deep is already quite long: `imutils.b0.mappers.phase_difference()`

[2020-06-22 22:17] jcohenadad commented on #148
so how about this:
[code]

[2020-06-22 22:27] jcohenadad commented on #144
hum, that's annoying. However, following on a previous discussion (https://github.com/shimming-toolbox/shimming-toolbox/issues/133#issuecomment-647679436), maybe we can put this issue on hold for now?

[2020-06-23 17:21] po09i commented on #148
I like it!

[2020-06-23 17:26] jcohenadad commented on #148
for brevity, should we instead to without the "ing"? i.e.
[code]

vote with thumbs up/down

[2020-06-23 17:34] #117 closed

[2020-06-23 17:42] gaspardcereza commented on #148
There is also `+mappers` in `+B0map`

[2020-06-23 18:06] jcohenadad commented on #148
the idea is to get rid of this. additional layer, i.e. imutils/b0/mappers → b0map

[2020-06-23 18:32] gaspardcereza commented on #148
So the ` field` function that calls the different mappers would be in the same folder as the mappers themselves ?

[2020-06-23 18:38] jcohenadad commented on #148
there is no more "mappers". Here is how it would look like:
[code]

[2020-06-23 18:46] gaspardcereza commented on #148
So where do we place the function that calls `phase_difference` or the others field mapping methods ?

[2020-06-23 18:48] jcohenadad commented on #148
how about under `+b0map`? The call would be:
[code]

[2020-06-23 18:50] gaspardcereza commented on #148
Ok I'll just look for a way to not take it into account when I display the different methods available in the error message.

[2020-06-23 18:52] jcohenadad commented on #148
you still have the option of a dict if there is no other elegant solution

[2020-06-23 20:58] rtopfer commented on #148
above plan sounds good to me. a few (likely obvious) comments/suggestions:

- while i agree we should be careful about overdoing subpackages, `max~3` should be treated as a guideline rather than a rule: whatever is most amenable to a maintainable code base should be favored over the minor inconvenience of adding another layer to the folder structure. E.g. @gaspardcereza maybe what you're working o

[2020-06-23 21:28] gaspardcereza commented on #148
I'd like to put all the unwrappers in `+unwrappers`. Can you give me a list of the different unwrappers available @rtopfer ?

[2020-06-23 21:47] jcohenadad commented on #148
ok, i've updated the "final solution" in the [first comment](https://github.com/shimming-toolbox/shimming-toolbox/issues/148#issue-643281411). Please all: if you could fill the structure as much as possible with the already-existing function (and the ones we anticipate to create), it would be great.  We should have an overview of the overall architecture before implementing it.

[2020-06-23 23:10] rtopfer commented on #148
Nominally, the list consists of the different cases called in the switch statement in [`MaRdI.unwrapphase`](https://github.com/shimming-toolbox/shimming-toolbox/blob/0eb332331ec327676b704ff8a98b04d946831f33/Img/MaRdI.m#L1694) but what's actually "available" is more complicated since 2 of the options require separate installations: prelude requires FSL, and the abdul-rahman method requires compilin

[2020-06-24 01:45] jcohenadad commented on #148
i definitely think we should include a wrapper for prelude

[2020-06-26 21:01] po09i commented on #142
MkDocs RTD theme copies the original RTD theme. The original theme only supports 2 levels of nesting as documented in this [issue](https://github.com/mkdocs/mkdocs/issues/2010#issuecomment-615976690):

- index
- overview_folder
  - introduction
  - flowchart
- etc

Introduction being a single markdown file. To have more levels in the TOC, RTD uses the different heading levels in a markdown file :

[2020-06-26 21:52] jcohenadad commented on #142
@po09i i'm not sure i fully understand the cause of the problem. In [this comment](https://github.com/mkdocs/mkdocs/issues/2010#issuecomment-603441348), it looks like the RTD MkDocs theme did well with 2+ nesting, no?

Or is the problem caused by *files* nested (i.e. having multiple depth of folders)?

[2020-06-26 21:56] po09i commented on #142
@jcohenadad

Yes the problem is having multiple files nested, sorry for not being clear... The comment you mentioned uses the headers of a markdown file to have more in the TOC.

[2020-06-26 23:12] jcohenadad commented on #142
ha! maybe this would fix the problem? https://github.com/cjsheets/mkdocs-rtd-dropdown#how-to-use

[2020-06-29 20:21] po09i commented on #142
This used to fix an issue that has now been fixed within the built in MkDocs RTD theme. The behaviour is the same as mentioned above in this [comment](https://github.com/shimming-toolbox/shimming-toolbox/issues/142#issuecomment-650421084). The expected way to use the theme is to have 1 level of file nesting and markdown files with headers.

[2020-06-29 20:30] jcohenadad commented on #142
ah, that's too bad. so i guess we are back to choosing a theme 😉  . i am really not a big fan of material because of the TOC on the right. below suggestions:
- materials without toc on the right
- https://github.com/mkdocs/mkdocs/wiki/MkDocs-Themes#gitbook-theme
- https://github.com/mkdocs/mkdocs/wiki/MkDocs-Themes#ivory-theme
- https://github.com/mkdocs/mkdocs/wiki/MkDocs-Themes#windmill

[2020-06-29 21:47] po09i commented on #142
Yes it's a recurring theme.. hehe

- I found a way to disable the secondary TOC [here](https://github.com/squidfunk/mkdocs-material/issues/478). I find it a bit annoying though not having the ability to quickly jump to a specific headers.
- Ivory looks like a bare-bone version of RTD

![Screen Shot 2020-06-29 at 17 30 22](https://user-images.githubusercontent.com/47249340/86058040-39d8e880-ba2e-11

[2020-06-29 21:56] jcohenadad commented on #142
looks beautiful, no?

[2020-06-30 16:54] po09i commented on #142
I don't have a strong preference for windmill. We can go for the Ivory theme if I fix the search bar not working problem on that theme.

[2020-06-30 17:13] jcohenadad commented on #148
i suggest we use single convention for "nii" here:
 |- @read_nii
 |- @load_niftis
 |- @get_nii_coordinates
 |- @dicom_to_niftis

load_niftis → load_nii

[2020-06-30 17:22] jaystock commented on #148
I have wrapper Matlab code for BET and PRELUDE that I can upload if it would be helpful.  The tricky part is making that the correct FSL environment is set so that Matlab can find FSL on the machine.

[2020-06-30 22:42] gab-berest commented on #130
So, for a one time use I think that logging in a single file should be a good idea since it will be less troublesome to find the information on the specific session (all the information in one place). However, for multiple sessions, it should be in different log files to keep track of the timming of the usage and to not have a single file with 10 000+ lines.

In the end, it all depends if there is

[2020-07-01 01:26] jcohenadad commented on #84
duplicate of https://github.com/shimming-toolbox/shimming-toolbox/issues/148

[2020-07-01 01:26] #84 closed

[2020-07-01 01:38] jcohenadad commented on #66
Looks like @po09i is currently implementing Matlab testing suite in our Azure pipeline.

[2020-07-01 01:40] jcohenadad commented on #143
@po09i I understand this is now implemented, right? Can this issue be closed?

[2020-07-01 05:27] po09i commented on #143
Not yet, this [PR](https://github.com/shimming-toolbox/shimming-toolbox/pull/149) will close the issue.

[2020-07-01 17:35] mathieuboudreau commented on #151
Cool! Happy to provide input or assistance if any part of the design of this class is not clear or needs to be refactored for this extended functionality to work.

[2020-07-01 22:45] rtopfer opened #154 "Incorporate Terra (3rd order) shims into numerical model for "reference map"/basis"
The [current code](https://github.com/shimming-toolbox/shimming-toolbox/blob/9dc86d0fd6f7d57f86f133d0b3206820f639efed/%2Bb0shim/%2Bcompute/siemens_basis.m#L1) for modeling Siemens shim fields only covers 1st and 2nd order terms (based on the Prisma). Ideally, it would also cover the 3rd order terms on the Terra.

This requires, first, checking the Adjustments/Shim card on the Terra console to see

[2020-07-02 15:02] gaspardcereza commented on #148
To keep track of what has been discussed during this week's meeting:  we decided to go with sub-packages (`b0map.mappers` & `unwrap.unwrappers`) to store the different mapping and unwrapping algorithms and easily fetch them when we need to display the available functions to the user.
We also have to make a list of all the mapping and unwrapping functions available and add them to these sub-package

[2020-07-02 15:06] jcohenadad commented on #148
@gaspardcereza could you pls update the prototype (at the top of this thread) with the latest decisions? thx

[2020-07-02 15:27] jcohenadad commented on #148
i've updated https://github.com/shimming-toolbox/shimming-toolbox/issues/148#issue-643281411 to use full snake_case, and implemented https://github.com/shimming-toolbox/shimming-toolbox/issues/148#issuecomment-651928828

[2020-07-02 18:45] #66 closed

[2020-07-02 20:40] jcohenadad opened #158 "Considering moving to Python"
Pros:
- Auto-documentation is no more an issue with [sphinx](https://www.sphinx-doc.org/en/master/)
- Python is free
- CI testing can be done on the cloud, e.g. with [Travis](https://travis-ci.com/) (compared to our difficult-to-maintain local Azure server)
- Active neuroimaging community (nibabel, dcm2bids, etc.)

Cons:
- Some optimization algorithms might not be as performant
- Starting "from sc

[2020-07-02 22:11] gab-berest commented on #158
Pros:
Community is a lot more active for Python than Matlab for every aspect, not just the neuroimaging community.

[2020-07-03 19:13] kousu commented on #158
https://numpy.org/devdocs/user/numpy-for-matlab-users.html helps move from matlab to python for scientific computation.

[2020-07-03 19:16] kousu commented on #158
Optimization algorithms in python:

* https://docs.scipy.org/doc/scipy/reference/tutorial/optimize.html
* https://cvxopt.org/
* https://scikit-learn.org/stable/index.html

[2020-07-03 19:23] mathieuboudreau commented on #158
It really isn't that difficult of a transition (MATLAB->Python, not rewriting code) in my opinion - you just need to know/find which tools have the functions that you're used to using in MATLAB. Also know that everything in Python is a class object "underneath the hood". The biggest hurdle is if any of your features depend on a tool that was written for MATLAB - rewriting that tool is likely out o

[2020-07-03 20:08] jcohenadad commented on #158
Strategy is to:
- start a new repos: shimming-toolbox-py
- implement some scripts that will execute basic (but highly-needed) functionalities:
  - dcm2nii2bids
  - unwrap phase
  - create b0 maps
- setup: travis CI, sphinx doc, unit testing (pytest)
- in parallel, some of the refactoring can continue in the matlab repos, in order to facilitate the porting to python later on
- new features (e.g. nu

[2020-07-03 20:18] jcohenadad commented on #158
New repos: https://github.com/shimming-toolbox/shimming-toolbox-py

[2020-07-03 20:27] kousu commented on #158
For an example, to port the b0 map step, I would start by making this CLI:

[code]

For some starter code, you can use [`argparse`](https://docs.python.org/3/library/argparse.html), but I am a real big fan of [`click`](http://click.pocoo.org/), so that's the sketch I'm going to write now:

[code]

On mac/linux you can put that into "b0maps" and then run it like:

[code]

On Windows the first line,

[2020-07-04 00:54] jcohenadad opened #2 "Set up documentation with sphinx"
- set up doc with sphinx
- build with Travis

[2020-07-04 00:55] jcohenadad opened #3 "Set up unit test suite"
- Setup pytest
- Add in Travis CI

[2020-07-04 01:39] #3 closed, assigned to nobody

[2020-07-06 15:43] jcohenadad commented on #158
thank you for the head start here https://github.com/shimming-toolbox/shimming-toolbox/issues/158#issuecomment-653669780 @kousu.

however, i would suggest to separate CLIs as much as possible, i.e. not mix dcm2nii conversion and b0map fitting (because we _know_ that later one these will have to be separated anyway)

how about following the latest examples we did? @gaspardcereza @po09i are working

[2020-07-06 16:11] gaspardcereza commented on #158
Right now we don't have all the functions required to run a full scenario (from dicoms to shim calculation) so that's why we decided to go with a gdoc instead of a code that wouldn't be fully functional. Would it be ok if the parts of the code that are not available yet were just commented until we create them ?
That would also allow us to easily keep track of what has been done so far and what re

[2020-07-06 16:13] jcohenadad commented on #158
definitely ok! the goal here is to get started immediately with something

yup!

again, i would strongly encourage to centralize *everything* in github. This is *much* easier to manage the project.

[2020-07-06 19:30] po09i opened #10 "Add unwrap phase functionality"
Convert previous implementation of unwrap phase from shimming-toolbox to this python repo.

[2020-07-06 19:59] po09i opened #11 "Add B0mapping functionality"
Add API function to compute phase maps to B0maps. Matlab repo dual echo [implementation](https://github.com/shimming-toolbox/shimming-toolbox/blob/master/%2Bimutils/%2Bb0/dual_echo.m) (Look at PRs for potential updates to the file). #36 will need to be implemented first.

A CLI should also be added.

Flag suggestions
[code]

Motivated by #37

[2020-07-13 18:27] po09i commented on #148
Here are other functions that need to be worked on to continue the refactoring :

+unwrap
  - @rescale_img (MaRdI reference [method](https://github.com/shimming-toolbox/shimming-toolbox/blob/9081cdac6701d7df74c5db109c205655be10d54e/Img/MaRdI.m#L2114))

+misc
- @reslice_image (reference MaRdI [method](https://github.com/shimming-toolbox/shimming-toolbox/blob/9081cdac6701d7df74c5db109c205655be10d54e

[2020-07-14 23:00] gab-berest commented on #148
I'll check the PMU part between code review. It will help me to better understand the project.

[2020-07-28 16:59] jcohenadad commented on #158
this is happening 🙌  --> https://github.com/shimming-toolbox/shimming-toolbox-py

[2020-07-30 19:17] #2 closed, assigned to nobody

[2020-07-30 19:25] #10 closed, assigned to po09i

[2020-08-03 19:40] gaspardcereza commented on #121
Issue moved [here](https://github.com/shimming-toolbox/shimming-toolbox-py/issues/58).

[2020-08-19 02:07] jcohenadad commented on #161
@evaalonsoortiz the link to the data brings me here:
https://github.com/shimming-toolbox/data-testing/tree/realtime_zshimming_data

[2020-08-19 02:12] jcohenadad commented on #161
trying to reproduce this issue, running into another error:

Version of shimming-toolbox: 9081cdac6701d7df74c5db109c205655be10d54e
Version of testing-data: a7e82fb0dba6e05aa5b6050ad9432ddab9cb9e38
[code]

[2020-08-19 02:13] jcohenadad commented on #161
@evaalonsoortiz could you please provide more information so i can reproduce this issue?
notably: what data and code versions, what exact syntax you typed, etc.

[2020-08-19 02:23] evaalonsoortiz commented on #161
link updated

[2020-08-19 02:28] evaalonsoortiz commented on #161
The paths need to be entered with single quotations around them:` '15_gre_field_mapping_PMUlog_2/'`

I am using the latest commit to master. Can you tell me how you obtain the version number, like you shared above?

[2020-08-19 03:17] jcohenadad commented on #161
cd into the git repository and type:
[code]
or a more fancy look at the history:
[code]
I made these useful aliases in my bash_profile:
[code]

[2020-08-19 03:23] jcohenadad commented on #161
after using the single quotes as suggested in https://github.com/shimming-toolbox/shimming-toolbox/issues/161#issuecomment-675814633, i ran into the following issue (still a different error message than the one reported in https://github.com/shimming-toolbox/shimming-toolbox/issues/161#issue-680540896):

<details><summary>Full output</summary>

[code]

</details>

@evaalonsoortiz did you go that f

[2020-08-19 16:58] evaalonsoortiz commented on #161
@jcohenadad I believe you are getting that error because we only kept 10 field mapping volumes, whereas the original acquisition had 60 (and the dicom header states that there are 60 volumes). Perhaps we should go back to the example data and keep the 60 volumes.

[2020-08-19 17:42] rtopfer commented on #161
just checked, that ^ is why.  the `MaRdI` constructor uses the number of repetitions/measurements to initialize the object, so you end up with a bunch of empty images if they're they're claimed in the header but the files are missing. Unfortunately the class design relies entirely on the validity of the header so idk how easy it would be to fix. Can at least add a check + error message.

[2020-09-04 18:54] evaalonsoortiz commented on #128
I am closing this issue because it has been addressed in PR #163 which is now merged with master

[2020-09-04 19:22] evaalonsoortiz commented on #112
I am closing this issue because it was addressed in PR #163

[2020-09-04 20:32] evaalonsoortiz opened #164 "Bug in NumericalModel.m"
The following line:
https://github.com/shimming-toolbox/shimming-toolbox/blob/cb2400057587c854ebd07b96934c047ec69cc20c/numerical_model/NumericalModel.m#L602

should be:
` obj.deltaB0 = (obj.gamma / (2*pi)) * obj.fieldStrength * 1e-6 * obj.deltaB0; `

[2020-09-04 21:11] #164 closed

[2020-09-28 23:13] evaalonsoortiz opened #166 "Minor bug in NumericalModel"
https://github.com/shimming-toolbox/shimming-toolbox/blob/89365f3833432ef2fd27318bc4109cb618cc3a12/numerical_model/NumericalModel.m#L97

https://github.com/shimming-toolbox/shimming-toolbox/blob/89365f3833432ef2fd27318bc4109cb618cc3a12/numerical_model/NumericalModel.m#L101

both need to be changed for `varargin{1,1}`

[2020-09-29 01:14] evaalonsoortiz opened #169 "dual_echo.m computes the phase difference for a right-handed system"
We mostly work with Siemens, which is a left-handed system, so this is confusing. A "handedness" parameter should be used to switch between the two.

[2020-09-29 01:22] #166 closed

[2020-09-29 15:48] jidicula commented on #14
Ok, I have a bunch of jumbled thoughts about this that might lead us to a good workflow.

(*This is a bit tangential, but I promise it'll be relevant*) For the most part, there is a nonlinear relationship between PR size and the lifespan of the corresponding feature branch. Once you have to spend more than 30 minutes reviewing a large PR, your ability to read the code critically goes down drastica

[2020-09-29 16:01] jcohenadad commented on #14
i really like the idea of merging PRs, so +1 for me. I have often used the feature of searching for PR numbers in old commits to find out when a bug was introduced.

Can we also agree on a "squash and merge", as we already do in SCT and ivadomed? (using the same habits for lab members is also less prone to confusions)

[2020-09-29 16:06] jcohenadad commented on #14
well, i guess https://github.com/shimming-toolbox/shimming-toolbox-py/pull/106#pullrequestreview-498641300 means "no" 😅  ... although i see more pros than cons in squashing (eg: not accumulating fat and unclear commit messages)

[2020-09-29 16:14] jidicula commented on #14
haha yeah, I was just about to mention #106 🙂. If we do want to move towards a squash&merge approach, we should be stricter about coincidental ("I'm in this file so I'll do that extra fix here anyway") fixes. Additionally, we would have to enforce better commit messages; GitHub's squash behaviour is a bit hamfisted in that it just concatenates commit messages into one single commit message. We def

[2020-09-29 16:24] jcohenadad commented on #14
without squashing, those ugly commits would appear in the history, which to me sounds even worst, no?

i agree that would be ideal. We've been aiming for that for the past few years, but it just doesn't work, and people keep these commits. I'm the first to blame, I also do that. Why? because it would take me 2 minutes to do a clean squashing, and unfortunately I never have 2 minutes available. So

[2020-09-29 16:27] jidicula commented on #14
Yeah, that's a really good point. Also, unfortunately I haven't come across any really nice Git GUI clients that make these operations more intuitive, except for maybe magit in Emacs, but asking everyone to switch to Emacs just for that would be a bridge too far.

[2020-09-29 19:48] po09i commented on #14
To recap, we aim for small PRs and use squash and merge with master.

[2020-09-29 20:00] po09i commented on #14
Any cons to removing the ability to rebase and merge in the settings of the repo?

[2020-09-29 20:12] jcohenadad commented on #14
done!

[2020-09-30 18:51] jcohenadad opened #109 "Add verbose in the download to display URL"
### Feature Description:
display URL, as currently done in other project like SCT

[2020-09-30 18:55] jcohenadad opened #110 "URL for testing data not up to date"
The data_testing repo was updated with realtime_zshimming_data. The current link in the download_data CLI is not up to date.

The URL should be updated to be able to download the data.

[2020-09-30 19:04] #110 closed, assigned to nobody

[2020-09-30 19:06] jcohenadad opened #112 "Update conf/dcm2bids.json to accommodate realtime_z shimming testing data"
### Description of Problem / Inefficiency:
When runnning dcm2bids with our testing data, i am running in the following issue:

<details><summary>Full details</summary>

[code]

</details>

The dcm2bids config file should probably be updated.

Version shimming-toolbox: 589ccb8aaa2f50fafe494f970e856003acff4cfd
Version testing data: https://github.com/shimming-toolbox/data-testing/releases/tag/r20200

[2020-09-30 19:21] jcohenadad commented on #112
The output of dcm2bids should look like this: [nifti.zip](https://github.com/shimming-toolbox/shimming-toolbox/files/5307800/nifti.zip)

This uploaded data could be used for updating the test for our dcm2bids wrapper

[2020-09-30 19:22] gaspardcereza opened #113 "Add '_phasediff' to the concerned nifti file names (BIDS convention)"
### Description of Problem / Inefficiency:
During the dicom to nifti conversion process, the nifti containing phase difference images should be named as follows:

[code]
According to the [BIDS convention](https://bep001.readthedocs.io/en/dev/04-modality-specific-files/01-magnetic-resonance-imaging-data.html#case-1-phase-difference-image-and-at-least-one-magnitude-image).

### Implementation Sugges

[2020-09-30 19:33] jcohenadad commented on #100
After discussing internally, it seems like going with a specific CLI per method will be easier for maintenance/implementation in the long term, arguments:
- shorter CLI files
- less potential for conflicts (eg if someone implements a new method, and another person fixes a bug in an already-implemented method)

So, as a start, we would go with prelude, and CLI could be called: `st_unwrap_prelude`

[2020-09-30 22:25] gaspardcereza opened #114 "Update files in /docs/source with the new repository name"
### Description of Problem:

We have changed the repository name from `shimming-toolbox-py` to `shimming-toolbox`.
The documentation generated by 'ReadTheDocs' still links to the old repository name (shimming-toolbox-py).

### Suggestion:

We just need to update the links in `/docs` with the new repository name.

[2020-09-30 22:28] jidicula commented on #114
I'll push a fix for this tonight

[2020-09-30 22:49] #114 closed, assigned to jidicula

[2020-10-01 17:53] po09i commented on #102
@gaspardcereza Were you able to get it working? If so what was the issue?

[2020-10-01 19:04] gaspardcereza commented on #102
I managed to run Pytest after deleting everything and following all the installation steps but I still have some tests that don't work...
[code]
I also needed to manually download the testing data to have `test_dicom_to_nifti.py` working. Shouldn't the download step be including when calling pytest ?
The remaining errors seems to mostly be due to the absence of prelude in my folder. Is it also som

[2020-10-01 19:22] jcohenadad commented on #102
there are a couple of lines showing `E               FileNotFoundError: [Errno 2] No such file or directory: 'prelude': 'prelude'
`.

have you installed it?

[2020-10-01 19:24] po09i commented on #102
testing_data needs to be downloaded manually since we don't expect users to run pytest, only developers, you can run `st_download_data testing_data` on the terminal in within shimming-toolbox folder.

Prelude has its own license that is more limiting than shimming-toolbox. Like dcm2niix, you have to install it yourself.

[2020-10-01 19:28] jcohenadad opened #118 "Make sure the environment is properly setup and binaries are present before running pytest"
A few steps are required for pytest to run, such as:
- [x] download testing data
- [ ] download 3rd party binaries (eg prelude, dcm2niix)

To prevent confusion (eg https://github.com/shimming-toolbox/shimming-toolbox/issues/102), we should have pytest validate the presence of the necessary files before running. Or, we could also have pytest download those files, as being done in [SCT](https://gith

[2020-10-01 19:29] jcohenadad commented on #102
This is not the first nor the last time this will happen, so we should improve the testing workflow https://github.com/shimming-toolbox/shimming-toolbox/issues/118

[2020-10-01 19:36] gaspardcereza commented on #102
Alright I wasn't sure because it was not specified in the installation steps, contrary to dcm2niix. We should add it to make it clearer.

[2020-10-01 20:57] jidicula commented on #95
I'm not able to reproduce this when doing a fresh clone and install with a new Python 3.8 conda virtual environment. However, I do end up running into the same issue as #118 .

<details><summary>pytest output</summary>
<p>

[code]
</p>
</details>

I'm not entirely clear on how to install prelude either. Does it need to be added to the PATH? We need some clearer documentation for this step.

[2020-10-02 20:28] po09i opened #119 "dicom_to_nifti error if nifti output path is inside the dicom directory"
### Bug Description
In dicom_to_nifti API, [copy_tree](https://github.com/shimming-toolbox/shimming-toolbox/blob/42bdddfd35e6a5140e65b344d4a615eab4e9492c/shimmingtoolbox/dicom_to_nifti.py#L38) function recursively copies the niftis within the dicom directory.

<details>
 <summary>Terminal output</summary>

[code]

</details>

### Reproduction Steps
[code]

Note: Any nifti path that is inside the p

[2020-10-05 14:34] gaspardcereza commented on #95
@po09i I don't really now how to install prelude either and I didn't manage to find any guide... Do you have a link/document that explains all that ? It would also be nice to add this info in the readme file.

[2020-10-05 15:50] jcohenadad commented on #95
`prelude` comes with [FSL](https://fsl.fmrib.ox.ac.uk/fsl/fslwiki/FslInstallation)

[2020-10-05 16:01] po09i opened #121 "__dir_testing__ should include the __dir_shimming_toolbox__ path"
### Description of Problem / Inefficiency:
`__dir_testing__` simply is `testing_data` and needs to be used in conjunction with `__dir_shimmingtoolbox__` to get an absolute path to avoid errors when being used.

### Implementation Suggestion:
It should have the same behaviour as `__dir_config_dcm2bids__` which returns an abolute path.

Implementation suggestion:
`__dir_testing__ = os.path.join(__di

[2020-10-05 16:14] jcohenadad commented on #121
is it `__dir_shimmingtoolbox__ ` or `__dir_shimming_toolbox__ `? (the issue describes both)

in any case, the solution looks good to me

[2020-10-05 16:16] po09i commented on #121
It's` __dir_shimmingtoolbox__`, I updated the description.

[2020-10-05 17:19] jidicula opened #122 "FSL and prelude not included in installation documentation"
### Checklist

- [x] I've given this issue a self-descriptive, meaningful title (e.g. *Installation failure: problem creating launchers*)
- [ ] I've described my environment
- [x] I've described the bug
- [ ] I've described the steps to reproduce the behaviour
- [ ] I've included screenshots
- [ ] I've given this issue the correct labels

### Environment details

- [x] I followed the [installation

[2020-10-05 17:30] ghost opened #123 "Optimizers run slow on large fieldmaps with small masks"
The optimizer currently runs by creating a full mask of the entire fieldmap, including tracking 0 elements. This should be refactored to only optimize on nonzero mask elements.

[2020-10-05 17:36] gaspardcereza commented on #122
Note that you'll need python2 to execute the [FSL installer](https://fsl.fmrib.ox.ac.uk/fsldownloads_registration).
I only tested the installation on Ubuntu 20 though.

[2020-10-05 17:42] po09i opened #125 "remove_tmp API flag does not work in dicom_to_nifti"
### Versions
Project version: e5edd40dfe32e118c14201338684dbdef0d6adfb
Python: 3.7.3

### Bug Description
remove_tmp flag removes the `tmp_dcm2bids` folder from the dicom path instead of the nifti path.

FileErrorNotFound

### Reproduction Steps
Use dicom_to_nifti API with remove_tmp flas as True

Look at the output nifti folder, it will still contain the tmp_dcm2bids

### Potential Reasons behind

[2020-10-05 17:52] #122 closed, assigned to jidicula

[2020-10-05 17:56] #123 closed, assigned to nobody

[2020-10-05 17:59] ghost opened #127 "Optimizers use unmasked elements in shim unnecessarily"
### Description of Problem / Inefficiency:
Currently, optimizers trim shimming optimizations down to the mask size. However, this may still include zero (unmasked) elements if the mask is an irregular shape

### Implementation Suggestion:
Refactor the optimization code to trim out unmasked elements

[2020-10-05 18:34] jidicula opened #128 "FSL needs to be added to PATH"
The [FSL installation steps](https://fsl.fmrib.ox.ac.uk/fsl/fslwiki/FslInstallation) do not include the critical step of adding the FSL binary directory to your shell PATH. Therefore, this should be added to our documentation. Once this is added, I can tackle #118 .

[2020-10-05 18:37] jcohenadad commented on #128
is it really our responsibility? it seems to be part of the 3rd party software installation (ie: we can assume that ppl install the software properly, by following FSL's instructions)

[2020-10-05 18:51] jidicula commented on #128
FSL's instructions stop short of adding the suite to the PATH, so its own documentation steps for [checking that it was correctly installed](https://fsl.fmrib.ox.ac.uk/fsl/fslwiki/FslInstallation/MacOsX#Checking_the_installation) don't work.

I added the following line to my .zshrc (which can also be added to a user's .bash_profile, .bashrc, etc):

[code]
and only then does running their suggested

[2020-10-05 18:59] jidicula commented on #128
update: I dug into the `fslinstaller.py` and found where it tries to guess the user's shell profile location:

[code]

It won't set up properly if the user's ZSH is configured with a .zshrc file, like mine is, and instead adds it to .zprofile... I checked my system and found that it was added to this file in my home directory 🤦‍♂️ .

I don't recall what the default ZSH config file is on macOS, but

[2020-10-05 19:01] jcohenadad commented on #128
again, to me this is FSL's responsibility. We should not start supporting their software installation procedure. If there is a pb with zsh config file, i would post it on their repos (in fact, they use a mailing list)

[2020-10-05 19:04] jidicula commented on #128
Sure thing, I'll close the issue.

[2020-10-05 19:04] #128 closed, assigned to jidicula

[2020-10-05 21:44] gaspardcereza commented on #102
Issue closed by #126

[2020-10-05 22:39] ghost commented on #95
This was an erroneous install -- I made some rookie mistakes with installation. A fresh install works totally fine, and I was able to get the old one to work after rerunning some installation commands too.

[2020-10-06 02:40] po09i opened #130 "Pytest does not pass locally for a test_load_nifti test"
### Environment details

- [x] I followed the [installation instructions](https://shimming-toolbox.org/en/latest/2_getting_started/1_installation.html)

Project version: 28d28b2bfc945383bf107c98209ab02f8e89b765

Operating System and version: MacOS Catalina 10.15.6

Python version: 3.7.3
Path to Python binary: /Users/alex/Documents/project/shimming-toolbox/venv/bin/python

### Bug Description
Runni

[2020-10-06 14:18] #121 closed, assigned to nobody

[2020-10-06 14:51] po09i opened #133 "Change to a decorator in test_dicom_to_nifti"
### Description of Problem / Inefficiency:
Removed TODO from the line https://github.com/shimming-toolbox/shimming-toolbox/blob/d4a155d82d3d048ed9418f7f2dcc4ea667bc6edd/test/test_dicom_to_nifti.py#L12
Put this line:  `with tempfile.TemporaryDirectory(prefix='st_'+pathlib.Path(__file__).stem) as tmp:` as a decorator for improved readability.

More info: the line was added in this commit 73893dea231

[2020-10-06 15:21] #125 closed, assigned to nobody

[2020-10-06 17:54] jidicula commented on #118
Resolution from internal discussion:

* set up conftest like in SCT (mentioned in issue description) that pulls test data into testing environment
* tests for soft dependencies (prelude and dcm2niix) to be opt-in, with a flag for each external dependency (e.g. `pytest --prelude`, `pytest --dcm2niix`) as well as an `--all` flag to run tests for all external dependencies
  * for opt-in dependency te

[2020-10-06 22:57] gaspardcereza commented on #130
Concerning the potential reasons of the bug, could it be because the code prompts the user for an input ?
[code]
But then I don't really understand how Travis would pass the test...

[2020-10-07 00:41] jcohenadad commented on #130
what is this prompt? why do we need it?

[2020-10-08 23:51] #112 closed, assigned to nobody

[2020-10-09 00:30] jidicula opened #139 "Add shellcheck to Travis build"
### Checklist

- [x] I've given this issue a self-descriptive, meaningful title (e.g. *Document the use of config/dcm2bids.json*)
- [x] I've described the enhancement for an existing feature
- [x] (optional) I've added some ideas about how to implement my suggestion
- [x] I've given this issue the correct labels

### Description of Problem / Inefficiency:

We can (and should) add shellcheck as an

[2020-10-09 00:31] jidicula commented on #139
Related to an internal meeting with me, @lcbMGH, @po09i, and @gaspardcereza about best practices in Bash.

[2020-10-09 17:19] ghost opened #140 "Biot-savart coil generation code generates in T/A, not Hz/A"
Minor change needed to scale final output before returning fieldmap.

[2020-10-09 17:38] po09i commented on #130
Investigated a bit and it seems to be related to the echo numbers. This [line](https://github.com/shimming-toolbox/shimming-toolbox/blob/aee284825301f97f0b26c47831bd49979f3a935a/test/test_load_nifti.py#L266) and this [line](https://github.com/shimming-toolbox/shimming-toolbox/blob/aee284825301f97f0b26c47831bd49979f3a935a/test/test_load_nifti.py#L269) seem to be reversed (Looking for echo 2 in inde

[2020-10-09 18:37] #140 closed, assigned to nobody

[2020-10-09 18:44] #127 closed, assigned to nobody

[2020-10-10 18:09] jidicula opened #143 "coveralls crashing in Travis – pip package install needs to be corrected"
### Checklist

- [x] I've given this issue a self-descriptive, meaningful title (e.g. *Installation failure: problem creating launchers*)
- [x] I've described my environment
- [x] I've described the bug
- [x] I've described the steps to reproduce the behaviour
- [ ] I've included screenshots
- [x] I've given this issue the correct labels

### Environment details

Travis build

### Bug Description

[2020-10-11 01:25] #118 closed, assigned to jidicula

[2020-10-11 01:36] jidicula opened #145 "Update Travis build with correct pip install for shimming-toolbox"
### Checklist

- [x] I've given this issue a self-descriptive, meaningful title (e.g. *Document the use of config/dcm2bids.json*)
- [x] I've described the enhancement for an existing feature
- [x] (optional) I've added some ideas about how to implement my suggestion
- [x] I've given this issue the correct labels

### Description of Problem / Inefficiency:

In #97, testing was added into the defaul

[2020-10-11 19:15] #145 closed, assigned to jidicula

[2020-10-13 19:17] #143 closed, assigned to jidicula

[2020-10-14 19:01] jcohenadad opened #148 "Fetch timing of image acquisition to be used with PMU"
### Description of Problem / Inefficiency:

There is currently a PR which aims at reading PMU (resp trace) from the scanner https://github.com/shimming-toolbox/shimming-toolbox/pull/142. The PMU information includes absolute time `*_mdh`. It would be necessary to also fetch the absolute time of MR images.

Problems/considerations:
- the timing indicated in the .json sidecar (converted from dicom's

[2020-10-16 19:24] po09i commented on #70
referencemaps and b0map CLIs and APIs were examples at the beginning of the project. Now that more functions are implemented, I think they can be removed.

[2020-10-19 19:23] #139 closed, assigned to jidicula

[2020-10-20 17:55] po09i opened #151 "Update utils section"
### Description of Problem / Inefficiency:
There is currently a utils.py file that stores miscellaneous functions. Before the file gets out of hand with a lot of functions, a refactoring could done to structure the utils section.

### Implementation Suggestion:
Create a utils folder with files that have topics:
- Unit conversion
- Download
- etc

[2020-10-21 01:03] po09i opened #152 "Bounds option in LSQ_Optimizer throws error if the value is None"
Project version:

1058ca2

### Bug Description
Our optimizer has a bounds parameter which defaults to None if it is not provided. The `scipy.optimize.least_squares()` function expects a tuple as an input and defaults to `bounds=(-np.inf, np.inf)`. This means it crashes whenever we input a default value or when we set `bounds=None`.

The error was first seen while failing a travis build : https://t

[2020-10-21 19:33] jcohenadad commented on #151
It is difficult to anticipate what and how many of those functions there will be, so for now, i suggest we keep status quo and reassess once the project is bigger, where/how we want to reorganize those APIs

[2020-10-21 19:42] jidicula commented on #130
So with #154, the tests now pass locally on macOS but fail on Travis - I was just doing this on a whim to see how Travis would behave.

<details>
 <summary>Passing local pytest run</summary>

[code]

[2020-10-21 19:48] gaspardcereza commented on #130
Here's what is returned on Travis with #154 :

<details>
 <summary>Failure on travis</summary>

[code]
</details>

[2020-10-21 19:50] jidicula commented on #130
so basically it's whack-a-mole 😖

[2020-10-21 20:13] po09i opened #155 "Click does not output while inside CliRunner.invoke"
### Bug Description
CliRunner allows to put breakpoints within a CLI script. However, printing variables while inside the invoke command do not show on the stdout. This makes it difficult to debug.

### Possible useful links
https://github.com/pallets/click/issues/939

[2020-10-21 20:15] jcohenadad opened #156 "How to use Pycharm to debug CLI functions that use "click" for argument parsing?"
Context:

When using argparse, I would set up my IDE with "parameters" listing the CLI flags and values, eg:
[code]

With click, this does not work, and i'm not sure how to specify the arguments. Help needed...

[2020-10-22 20:42] po09i commented on #155
click.echo() can be used to output on the python console

[2020-10-22 21:00] po09i opened #157 "Add 3d coil profile support for optimizer"
### Description of Problem / Inefficiency:
Coil profiles need to have this input format (x, y, z, channel). It would be nice to be able to input a coil profile with only one channel. The current way to do this is have a coil profile that looks like this : (x, y, z, 1). It should be able to accept (x, y, z)

These changes would have to be implemented in /optimizer

[2020-10-25 03:08] #148 closed, assigned to nobody

[2020-10-30 15:31] jcohenadad commented on #156
Duplicate of https://github.com/shimming-toolbox/shimming-toolbox/issues/155

[2020-10-30 15:31] #156 closed, assigned to nobody

[2020-10-30 15:32] jcohenadad commented on #155
click.echo() did not work for me.

The solution was to upgrade from Pycharm 2019 to 2020.

BTW: with 2020, both `print()` and `click.echo()` work 🎉

[2020-10-30 15:32] #155 closed, assigned to nobody

[2020-11-01 00:38] jcohenadad opened #159 "Specify fixed versions in the setup.py"
A recent post from another project https://github.com/ivadomed/ivadomed/issues/501#issuecomment-719990834 suggests to keep dependencies "open". The purpose of this issue is to potentially reconsider the approach taken for this project. Feedback welcome.

[2020-11-04 19:09] po09i opened #160 "Reatime_zshim RIRO coefficient scaled by the RMS of the PMU pressure"
During realtime zshimming, we need to fit the pressure and the fieldmap/gradient. This is done with a linear regression where : `gradient(iVox)= Corrections.static( iVox ) + ( PMU_current_value - PMU_mean_value ) * Corrections.riro( iVox )`.
 In the matlab code, once the regression is done (static and riro are calculated for each voxel), the riro coefficent is multiplied by the RMS of the pressure

[2020-11-04 20:16] evaalonsoortiz commented on #160
I believe this is just a matter of preference for visualization, ie; when plotting static and RIRO correction maps, if the RIRO correction is scaled by the RMS_PMU_value, then you will see what the typical range of RIRO corrections is when you actually apply them. If you scale the RIRO, you have to remember to "rescale" it back before saving the RIRO correction to a text file.

At one point, scali

[2020-11-04 21:20] jcohenadad opened #161 "Check installation and versions of 3rd party binaries"
### Context

ST relies depends on the following non-Python packages:
- `dcm2niix`
- `prelude`

Given that the results of ST depend on the existence and version of these packages, we should probably implement a mechanism that checks if these software are installed (eg: `which XX` command) and their version.

Should we implement a `st_check_dependencies` as done in [SCT](https://github.com/neuropoly

[2020-11-04 21:26] jcohenadad opened #162 "Implement function to prepare fieldmap"
In relation to this epic PR https://github.com/shimming-toolbox/shimming-toolbox/pull/92, we would need a function that does the following:
https://github.com/shimming-toolbox/shimming-toolbox/blob/492f38c156f62cb4c7a0b8948349663566d3aa35/examples/demo_realtime_zshimming.sh#L19-L37

We could create a CLI, that could be named similarly to FSL's `fsl_prepare_fieldmap`, eg: `st_prepare_fieldmap`.

[2020-11-04 21:26] jcohenadad commented on #162
Related to #100, #36, #11

[2020-11-05 01:39] rtopfer commented on #160
For the multi-coil arrays, we typically run up against hardware limits: there is only so much current to distribute across the channels. For static shimming, we're effectively saying "all available current goes toward correcting the static field component". Simple.

But if the aim is to minimize 2 fields (e.g. the static and resp. component)—separately but simultaneously—how do you prioritize/allo

[2020-11-05 16:08] alexfoias opened #163 "Error when running pytest"
I cloned the repo.
I created & activated venv: `conda create -n shim_venv python=3.7`.
I installed the package: `pip install -e ".[docs]"`
When running `pytest` I get errors. See log [here](https://gist.github.com/alexfoias/52a356301b168f47abfc6e7ea5fd78ea).

[2020-11-05 16:14] gaspardcereza commented on #163
It seems similar to #130 (with even more returned errors) for which we didn't really find a solution... If it passes on Travis, it doesn't pass locally and vice-versa...

[2020-11-05 18:17] po09i commented on #163
All errors except one seem to be due to prelude not being installed. The other error (load_nifti) is related to #130 as gaspard mentioned.

You can run pytest without prelude using `pytest -m "not prelude"` (It will not do the tests that require prelude)

[2020-11-05 18:28] alexfoias commented on #163
Yes, I don't have prelude installed. I can install it and rerun it.

[2020-11-05 18:37] jcohenadad commented on #163
for the record, the soft-dependency testing is documented [here](https://shimming-toolbox.org/en/latest/2_getting_started/1_installation.html?highlight=pytest#testing-subsets-of-soft-dependencies)

[2020-11-05 19:13] alexfoias commented on #163
I ran it without the soft-dependecies [here](https://gist.github.com/alexfoias/4642e44cde25c4aebab8945b7bf8bc4e).

[2020-11-06 01:42] jidicula commented on #163
I just took a look at your build logs and also tried reproducing your steps – can confirm it's a duplicate of #130.

[2020-11-06 01:42] #163 closed, assigned to jidicula

[2020-11-06 14:00] jidicula commented on #161
I can grab this ticket, I think it's a good idea to verify the dependency installation setup is correct.

[2020-11-08 19:07] jidicula commented on #88
I like this section – I'll try to adopt in my projects and at my work too! Definitely helpful for newcomers looking for an example to adapt for the ticket's desired feature 😁

[2020-11-08 19:23] jidicula opened #165 "Add documentation stub for dicom_to_nifti.py"
### Checklist

- [x] I've given this issue a self-descriptive, meaningful title (e.g. *Document the use of config/dcm2bids.json*)
- [x] I've described the enhancement for an existing feature
- [x] (optional) I've added some ideas about how to implement my suggestion
- [x] I've given this issue the correct labels

### Description of Problem / Inefficiency:

`dicom_to_nifti.py` wasn't added to the `

[2020-11-08 20:07] jidicula commented on #161
Wait, actually this is *kind* of implemented already in the testing suite: https://shimming-toolbox.org/en/latest/2_getting_started/1_installation.html#testing-subsets-of-soft-dependencies (last case) . I feel like these checks are already part of the testing suite, so I'm not sure that a separate script is "needed", unless we want a script for only checking the dependency installation and availab

[2020-11-09 21:07] rtopfer commented on #160
can't find the GitHub discussion either but I remember mentioning this point previously: the initial scaling of "RIRO" upon fitting is essentially arbitrary: tightening the belt of the sensor won't change the field variation (unless you _really_ tighten it 😬) but it will reduce the scaling of the fitted Hz/unit-PMU RIRO map.
To have any way of comparing measurements one subject to the next, one ne

[2020-11-09 23:20] po09i opened #167 "generate_meshgrid bug for some affine transformations"
### Bug Description

When using generate_meshgrid for affine transformation that are not along the diagonal (example: realtime_zshimming fieldmap data). The function does not output the correct scanner coordinates.

### Reproduction Steps

`coord = generate_meshgrid( nii_fmap.get_fdata()[..., 0].shape, nii_fmap.affine)`

The values do not match the values from fsl_eyes

### Potential Reasons behin

[2020-11-10 22:09] po09i opened #170 "Read_nii error if json file does not contain ImageComments field"
### Bug Description
shimmingtoolbox.load_nifti.read_nii throws an error when executing if the input json does not contain the field ImageComments.

[code]

### Reproduction Steps
[code]

### Additional info
I think this check for phase in ImageComments was first introduced because not all phase images contain the field ImageType. If this is the case, then an image without the field imageType would

[2020-11-10 22:50] po09i commented on #161
Having a script that the user could use to make sure everything is set up correctly could be very useful instead of running pytest and having lots of errors and having to look through them to see what is missing. Ideally the user would read the installation procedure and install the dependencies correctly but the script would allow to make sure everything is good in a visually pleasing way.

`sct_

[2020-11-10 22:51] #167 closed, assigned to po09i

[2020-11-10 23:26] jcohenadad commented on #161
FWIT, here is the output of `sct_check_dependencies`:

[code]

[2020-11-11 19:03] #170 closed, assigned to nobody

[2020-11-11 19:07] po09i commented on #130
@jidicula Have you tried sorting the list when running `os.listdir(path_data)` ([Here](https://github.com/shimming-toolbox/shimming-toolbox/blob/5d44a509d6c66fe2833e33645d1df11d11360c7b/shimmingtoolbox/load_nifti.py#L60)). Maybe the returned list is not the same on travis and MacOS.

[2020-11-11 20:48] po09i opened #173 "Add option flag in pytest to download data"
### Description of Problem / Inefficiency:
Currently, every time pytest runs, it downloads testing_data. This slows down the debugging process. It would be neat to have a flag to specify whether it should be downloaded or not. The default value could be to download it.

[2020-11-11 21:04] po09i opened #174 "Prelude does not output the same shape as the input"
### Bug Description
When prelude has a phase input with a singleton in the last dimension (i.e.` wrapped_phase.shape = [5, 5, 1]`), the return unwrapped phase drops the last dimension: ` unwrapped_phase.shape = [5, 5]`.

### Suggested fix
Look at the input and add a dimension if the singleton is dropped.

[2020-11-12 02:37] jidicula commented on #130
Good call, I'll give that a try!

[2020-11-12 06:13] po09i commented on #160
I see.. when comparing results across scans, this allows to have a comparison on the same scale. The RMS coefficient `GzField.Model.Riro.Aux.Data.p` [here](https://github.com/shimming-toolbox/shimming-toolbox-matlab/blob/7f0ba2d480a697a16a0d4b20154c61171f7e13ca/example/realtime_zshim.m#L363) is then used to scale back to the appropriate unit expected for the scan of the same session.

[2020-11-16 01:24] jidicula commented on #173
Should be a pretty easy fix to add a marker for this - it would be similar to the markers for `dcm2niix` and `prelude` defined in `conftest.py`, and then a decorator would be added around the setup function doing the data download.

[2020-11-16 04:56] po09i opened #177 "Where to document the CLIs"
### Description of Problem / Inefficiency:
Our current way of implementing CLIs consists of wrapping an API, this means there is documentation for the API and documentation for CLIs. Both are currently being implemented in the API section of our doc.

Possible solution:
- Add a section for CLIs

[2020-11-16 04:58] po09i commented on #177
Relevant for #176, #166

[2020-11-16 05:00] #174 closed, assigned to po09i

[2020-11-16 12:07] #165 closed, assigned to jidicula

[2020-11-21 14:06] jcohenadad opened #180 "Add support for macOS on Travis CI"
### Feature Description:

To render our tests more sensitive to other platform (see e.g. https://github.com/shimming-toolbox/shimming-toolbox/pull/179), we should extend our CI to other platforms.

The low hanging fruit is to add support to macOs since it is available in Travis.

[2020-11-25 19:53] #162 closed, assigned to nobody

[2020-11-28 18:03] jidicula commented on #180
Are you planning to support macOS Big Sur on Apple Silicon (new MacBooks)? If so, note that Travis [doesn't support it](https://docs.travis-ci.com/user/reference/osx/#macos-version) (yet) and is also going to [start charging for macOS builds](https://blog.travis-ci.com/2020-11-02-travis-ci-new-billing), but [GH Actions](https://docs.github.com/en/free-pro-team@latest/actions/reference/specificatio

[2020-11-28 19:50] jcohenadad commented on #180
Thank you for looking into it @jidicula 🙏
For cross-referencing, we've been seriously considering GH actions for our other projects, see notably https://github.com/neuropoly/spinalcordtoolbox/issues/3057.

Would you be OK porting our current CI to GH actions? I can give you the required permissinos if needed

[2020-11-28 22:39] jidicula commented on #180
Sure thing! I don't think I'll need any extra permissions but I'll ping if I hit any walls. The approach I'm thinking is to follow @kousu's approach to factor CI steps into a shell script for portability, then call the shell script from the YAML for whatever platform strikes our fancy (https://github.com/neuropoly/spinalcordtoolbox/issues/3057#issuecomment-733872092).

[2020-11-29 19:59] jidicula commented on #173
Ok, so I gave this a go for a couple of hours and what I thought was an easy fix may not be possible... I tried a bunch of different permutations of factoring the data download into a helper and adding a marker `test_data` for it, calling that function from a dummy test function in another test script with the `@pytest.mark.test_data` decorator, etc.

It's hard or impossible to create a function t

[2020-11-29 20:31] jcohenadad commented on #173
Possibly relevant to the discussion:
- testing data download for parallel testing: https://github.com/neuropoly/spinalcordtoolbox/issues/2957
- about caching (+ integrity testing if data already present): https://github.com/neuropoly/spinalcordtoolbox/issues/2959

[2020-11-29 20:47] po09i opened #186 "Add more tests to phys_gradient and phys_to_vox_gradient"
### Description of Problem / Inefficiency:
PR #181 introduced functions to calculate the gradient in the physical and voxel coordinate systems. Some synthetic data as well as an acquired sagittal data was used for testing but more tests for different orientations should be introduced to assess the validity of the functions

### Additional Context / Screenshots:
https://github.com/shimming-toolbox/

[2020-11-29 21:03] #130 closed, assigned to nobody

[2020-11-29 21:37] #177 closed, assigned to jidicula

[2020-11-29 21:45] #161 closed, assigned to jidicula

[2020-11-30 01:58] jidicula opened #187 "Add macOS 11.0 on M1 installation instructions to documentation"
### Checklist

- [x] I've given this issue a self-descriptive, meaningful title (e.g. *Document the use of config/dcm2bids.json*)
- [x] I've described the enhancement for an existing feature
- [x] (optional) I've added some ideas about how to implement my suggestion
- [x] I've given this issue the correct labels

### Description of Problem / Inefficiency:

Our current documentation is fine for mac

[2020-11-30 01:59] jidicula commented on #187
As a sidenote: if anyone on the team has bought one of the new Macs, it would be great if they could test the installation steps once we've written them up 😄

[2020-12-01 02:41] #180 closed, assigned to nobody

[2020-12-03 07:22] po09i opened #190 "dicom_to_nifti should output a filename with phasediff if the image is a phasediff"
### Description of Problem / Inefficiency:
`dicom_to_nifti` should output a filename phasediff filename if the image is a phasediff. The current implementation outputs phase2.

### Implementation Suggestion:
Look within fmap folder, look for phase images, look in json file for fields EchoTime1 and EchoTime2, if both are there, change the filename to phasediff.

[2020-12-03 19:35] po09i opened #192 "Finalize mask CLI"
### Implementation Suggestion:
The masking CLI is required for our realtime_zshim experiment. Some small details still need to be ironed out:

- Proper test that checks that the mask correctly outputs what is required.

[2020-12-03 19:43] po09i opened #193 "Support masking for 4d data"
### Description of Problem / Inefficiency:
Some of our workflow would benefit from having an API and CLI to mask 4d data (4th dim being timepoints). It would be implemented in the masking API `shape`. Then the CLI would need to be updated to allow 4d inputs.

### Additional Context / Screenshots:
https://github.com/shimming-toolbox/shimming-toolbox/pull/137#discussion_r532102700

[2020-12-03 19:57] po09i opened #194 "Add comparison test for output json file in prepare_fieldmap"
### Description of Problem / Inefficiency:
We recently added the json file that is being outputted from `prepare_fieldmap`. A test should be done to test the difference of the `prepare_fieldmap` function and the json file testing data.

### Related to
https://github.com/shimming-toolbox/data-testing/pull/9

[2020-12-03 20:32] #190 closed, assigned to nobody

[2020-12-03 20:48] po09i opened #196 "Coveralls sometimes fails if the code coverage stays the same"
### Bug Description
Coveralls check sometimes fails if the code coverage stays the same.

### Reproduction Steps
Look at #195

[2020-12-05 21:47] #192 closed, assigned to maheuss

[2020-12-15 02:47] jcohenadad opened #198 "Remove numbers in URLs from RTD"
### Context

Example of RTD link: https://shimming-toolbox.org/7_api_reference/api.html

### Problem

when adding this link in a paper/conference, this is ugly.

### Solution

Change the link for https://shimming-toolbox.org/api-reference.html (or variations of it...)

[2020-12-16 13:01] CodingApps commented on #198
@jcohenadad Could I handle this issue for you?

[2020-12-16 14:19] alexfoias opened #199 "Limit file size on commit"
Problem: we would like to forbid commits that include files bigger than XX MB.
Possible implementations:

- https://stackoverflow.com/questions/39576257/how-to-limit-file-size-on-commit/39578014#39578014
- https://gist.github.com/kiwidamien/a6a909ee196be8795b30431079074d64

Crossref: https://github.com/neuropoly/spinalcordtoolbox/issues/3100 https://github.com/neuropoly/axondeepseg/issues/423 http

[2020-12-17 06:50] CodingApps commented on #198
@jcohenadad I made the revisions to /docs/source/index.rst and renamed the directories to match the revised names. Numbers removed. Submitted the PR. Had difficulty with the 2GB FSL d/l to try it on my Mac. Has the dev environment worked well installed on a Mac? Was taking a while for the 2GB to complete.

[2020-12-17 23:31] kousu commented on #199
https://github.com/neuropoly/spinalcordtoolbox/issues/2705

[2020-12-18 07:49] CodingApps commented on #198
@jcohenadad Fixed on PR https://github.com/shimming-toolbox/shimming-toolbox/pull/201 . Thx!

[2020-12-19 01:48] #198 closed, assigned to nobody

[2020-12-19 01:49] jcohenadad commented on #198
thank you so much for your contribution @CodingApps !

[2020-12-19 04:36] CodingApps commented on #198
@jcohenadad Absolutely! Keep upward! Will check back to pitch in down the road! Thx!

[2021-01-12 17:16] po09i commented on #160
Issue can be closed, this was a question for #134 which got merged.

[2021-01-12 17:16] #160 closed, assigned to nobody

[2021-01-12 17:23] po09i commented on #113
Issue can be closed, this was implemented in PR #191.

[2021-01-12 17:23] #113 closed, assigned to nobody

[2021-01-12 17:25] po09i commented on #100
PR #162 adds a CLI that prepares fieldmaps (this calls the unwrap API), we should still have the ability to call the unwrapper through a CLI call.

[2021-01-12 17:32] po09i commented on #37
Issue can be closed, PR #92 implements a shell script which demos how to use the toolbox and realtime zshimming

[2021-01-13 05:44] po09i opened #205 "Consider using FSLEYES plugin as wrapper for the Shimming Toolbox"
### Feature Description:
Shimming Toolbox will eventually have a GUI. We could leverage FSLEYES to display the functionalities of the toolbox and make the CLIs available from the FSLEYES' GUI. Here is a screenshot from SCT.

![Screen Shot 2021-01-12 at 1 49 59 PM](https://user-images.githubusercontent.com/47249340/104411073-c1ec8e80-5537-11eb-85bc-a6f3617b1782.png)

Pros:
- Easier implementation t

[2021-01-13 21:30] po09i commented on #196
This issue is relevant https://github.com/lemurheavy/coveralls-public/issues/565

It seems to be something to be fixed in coveralls. In the meantime, we can allow for very small decrease in code coverage (0.1%) to fix the problem.

[2021-01-13 21:44] po09i opened #206 "Bug in coveralls release 3.0.0"
The coveralls error is likely related to an upgrade in coveralls, see https://github.com/ivadomed/ivadomed/pull/628

_Originally posted by @jcohenadad in https://github.com/shimming-toolbox/shimming-toolbox/issues/184#issuecomment-758837739_

[2021-01-14 16:17] gaspardcereza opened #208 "Add RF-shimming functionalities to the toolbox"
### Feature Description:
RF-shimming corresponds to the process of homogenizing the RF-field by optimizing the "shim-weights" (magnitude and phase) of every transmit elements.

The main steps of the RF-shimming process are:
1) Acquire a B<sub>1</sub> map for each transmit coil over the desired volume on the scanner,
2) Load the B<sub>1</sub> maps on the shimming-software (here `shimming-toolbox`),

[2021-01-18 02:36] jcohenadad commented on #208
don't bother with that from now-- start prototyping with NIfTI images (and upload in test data so you can start unit testing your prototype)

This is a very complex discussion --> so i suggest we move the discussion to a specific issue (open issue and cross-ref here)

same as what?

i suggest you elaborate on the visual outputs you have in mind-- again, this is very specific and isolated, so open

[2021-01-18 05:25] po09i commented on #206
Resolved by #207

[2021-01-18 05:25] #206 closed, assigned to nobody

[2021-01-18 15:56] charjl commented on #208
Why a numpy array? Could we make an object to store this similar to what we would get from matlab and put that in an array? The data therefore would fall under a "contract" (a super basic internal API) when creating the object, and so we could add plugins for other other software as needed.

What is needed/included in "constrained optimization"

I like the automation idea, but I suggest we do manu

[2021-01-19 18:47] po09i commented on #208
Now that some B1 specific code will be introduced, we should think of the overall organization of the repo.

I suggest going with creating shimmingtoolbox/b0 and shimmingtoolbox/b1 and move the code specific to each one and keep the one that can be used by both out. (realtime_zshimming is B0 specific but dicom_to_nifti would be out of these 2 folders) It would look a bit like this:

- shimmingtool

[2021-01-19 23:18] jcohenadad commented on #208
@po09i i agree with your suggestion in https://github.com/shimming-toolbox/shimming-toolbox/issues/208#issuecomment-763047514. It is very difficult to predict the amount of overlap that will occur between b0 and b1, but we need to start somewhere, and this is a good suggestion to start, because there will inevitably be differences between b1 and b0 at some point.

[2021-01-21 16:04] gaspardcereza opened #210 "Implement a function to load the RF fieldmaps"
### Feature Description:

In order to perform RF-shimming, the first step is to load the acquired B<sub>1</sub> maps in the toolbox.
Due to a problem in the conversion from `dicom` to `nifti` mentioned in #58 , we decided for now to directly start from a `nifti`  file that is returned when running dicom_to_nifti with the folder containing the dicoms acquired using the RF-mapping sequence (turbo fl

[2021-01-21 16:05] gaspardcereza commented on #210
@po09i Do you think the re-organization of the code should be a specific issue ?

[2021-01-21 18:56] po09i commented on #210
I think a refactoring in its own PR for the B0 stuff will be needed soon. For now, to get you started, I think you should start working on the B1 stuff and organize it as we mentioned [here](https://github.com/shimming-toolbox/shimming-toolbox/issues/208#issuecomment-763047514). In theory all the code you will use for B1 should not get refactored since it is not B0 specific. If you have more quest

[2021-01-21 19:55] charjl opened #211 "check_env.py does not catch the if an incorrect version of dcm2niix is installed"
### Checklist

- [x] I've given this issue a self-descriptive, meaningful title (e.g. *Installation failure: problem creating launchers*)
- [x] I've described my environment
- [x] I've described the bug
- [x] I've described the steps to reproduce the behaviour
- [N/A] I've included screenshots
- [x] I've given this issue the correct labels

### Environment details

- [x] I followed the [installati

[2021-01-23 17:16] jidicula commented on #199
What about using [pre-commit](https://pre-commit.com) as a development dependency? It has an out-of-the-box hook for large file sizes: https://github.com/pre-commit/pre-commit-hooks#check-added-large-files . The project's hooks are defined in a `.pre-commit-config.yaml` file at the root of the repo, and each developer only has to run `pre-commit install` once to set up the tool locally.

[2021-01-23 17:18] jidicula commented on #196
Was this fixed around the time you bump-committed 8e54122?

[2021-01-23 22:12] po09i commented on #196
Yes. Thanks this can be closed. Fixed by changing the coveralls settings to allow up to 0.1% decrease. First implemented in 8e54122

[2021-01-23 22:12] #196 closed, assigned to nobody

[2021-01-24 17:10] kousu commented on #199
I think that's a good idea too, but I was envisioning anything like that as a complement to server-side enforcement. Anything that's not enforced will be skipped by at least some people on some machines at least some of the time, and I fear that the rarer we make it the less obvious it will be to repair when it does happen.

[2021-01-24 17:18] jidicula commented on #199
I've actually set this up in a GitHub Actions workflow on the serverside (command is `pre-commit run --all-files <hookname>`) for another project (in a private repo), but the caveat is that once it's caught on GitHub, the commits are already made (on the feature branch) and the contributor has to figure out how to rebase, which has been a pretty tough step in this team so far.

I think it would be

[2021-01-24 17:45] kousu commented on #199
That's a good insight, that there's no way to *stop* a large file from ending up on the server because Github provides no hook we sneak in with. So any server-side solution will be half-baked ultimately.

In [SCT](https://github.com/neuropoly/spinalcordtoolbox/issues) we have a policy of squashing all PRs, both so that work is done in units of a PR, and with the intentional side-effect that undoin

[2021-01-24 17:46] kousu commented on #199
I kind of like that https://stackoverflow.com/a/39578014/2898673 is short and pure-shell. We could emulate `pre-commit install` without python [as simple as](https://www.viget.com/articles/two-ways-to-share-git-hooks-with-your-team/)

[code]

[2021-01-24 17:50] kousu commented on #199
But generally: two pronged approach :+1:  :+1: :+1:

[2021-01-27 15:47] gaspardcereza opened #212 "The link to the `contribution guidelines` in the Readme is dead"
Operating System and version:
Tested in Windows 10 (Chrome) and MacOs Big Sur (Safari)

### Bug Description
When clicking on the contribution guidelines link on the [shimming-toolbox's GitHub page](https://github.com/shimming-toolbox/shimming-toolbox), I'm redirected to https://github.com/shimming-toolbox/shimming-toolbox/blob/master/docs/source/3_contributing/CONTRIBUTING.rst which doesn't exist

[2021-01-27 15:49] gaspardcereza commented on #212
@jcohenadad @po09i @jidicula @charjl Is it better to update the link to redirect to ReadTheDocs or to the GitHub file? I'd personally go with RTD.

[2021-01-27 15:51] jidicula commented on #212
@gaspardcereza agreedo, the RTD is prettified too, and encourages reading of other project documentation if the contributor is curious (which they should be doing anyway!)

[2021-01-27 15:52] jidicula commented on #212
Also as part of this ticket, the link in this md file can also be updated: https://github.com/shimming-toolbox/shimming-toolbox/blob/master/.github/contributing.md

[2021-01-27 15:53] gaspardcereza commented on #212
@jidicula Alright I'm on it !

[2021-01-30 17:56] jidicula opened #216 "GitHub Actions: Cache SCT in our CI tests workflow"
### Checklist

- [x] I've given this issue a self-descriptive, meaningful title (e.g. *Document the use of config/dcm2bids.json*)
- [x] I've given this issue the correct labels

### Description of Problem / Inefficiency:
Currently, Spinal Cord Toolbox installation is the bottleneck in our CI tests that are run on each PR. Even on the fastest build matrix option, Ubuntu 20.04 on Python 3.8, [SCT in

[2021-01-30 20:22] evaalonsoortiz opened #217 "Phantom ROI generation approach"
Currently, when generating an ROI in a phantom scan an ROI can be generated in the centre of the FOV of an image with a predetermined size.

In cases were the region of interest is not centred in the FOV (this is common in phantom setups) it might be preferable to have the ROI centred at a voxel location that the user specifies. That voxel location could be identified by the user independently by

[2021-01-30 20:27] po09i commented on #217
With our current features, it is possible to specify the voxel location of the middle of the ROI. For example, `st_mask box` has a `-center` option to specify that.

[2021-01-30 20:57] evaalonsoortiz commented on #217
Great! I didn't catch that from the description, but re-reading it now it makes sense. I'll close this issue then.

[2021-01-30 20:57] #217 closed, assigned to nobody

[2021-01-31 20:19] jcohenadad opened #218 "Simulate susceptibility variation owing to O2 in lungs for real-time shimming"
### Context

B0 field close to the lungs vary across time because of respiration. At the level of C7 vertebrae, the amplitude is about 70Hz at 3T. We would like to have a better understanding of those variations, what is their exact cause (chest motion and/or change in lung volume?), and have a realistic in silico model to be able to design realtime shimming solutions.

### What to do

- Simulate

[2021-02-02 17:15] po09i commented on #216
@jidicula I think this is a great idea, the installation does take quite some time.

1. We are using the latest version of SCT right now, using the HEAD version we will be able to get the latest release but will most likely need to maintain it a bit more. Since SCT is constantly evolving, I think we should point to the HEAD so that users dont have to downgrade SCT or have two versions if they are

[2021-02-02 17:43] jidicula commented on #216
Ok, so since we want it to depend on SCT HEAD, I'll configure the caching to use the commit hash at HEAD as the cache key - if the hash changes, the cache is invalid and SCT has to be reinstalled.

At the very least, this will save some CI build time when a PR has multiple cycles of commit, request changes, commit.

[2021-02-02 18:17] #199 closed, assigned to jidicula

[2021-02-02 19:18] gaspardcereza opened #219 "Choice of units for RF maps"
## Context
I am currently implementing a function that takes a `NIFTI` file containing the RF data acquired at the scanner (#210). I would like to discuss with the team about the choice of units that we should use for the RF-maps.

This `NIFTI` file is obtained by calling `dcm2niix` on a folder containing the raw `DICOM` files from the scanner. (The data I have are from a Turboflash standard B1 ma

[2021-02-03 00:44] po09i commented on #219
@gaspardcereza I want to correct a couple of statements. For B0, we currently don't scale the magnitude data, it is mostly not used actually, the only current use is within prelude to mask the phase map. They stay in their original siemens scaling.
The phase is rescaled to hz.

I would make sure the phase range you mention is not due to noise or other factors. It looks like it could be from 0 to 4

[2021-02-03 00:52] jcohenadad commented on #219
why is that?

Hz and V are also part of [SI units](https://www.nist.gov/pml/weights-and-measures/si-units-time#:~:text=The%20SI%20unit%20for%20frequency,as%20one%20cycle%20per%20second.).

👍
Just to be accurate on the notation, it would either be (-pi, pi] or [-pi, pi) (not [-pi, pi]).

about the artifact:

why deal with it in a particular way? we can just apply the scaling to all voxels, includin

[2021-02-03 01:31] gaspardcereza commented on #219
I check on the phase images and the wrap seems to happen at 3848 (it goes back to 248) as can be seen below in a zoomed wrapped region:
![image](https://user-images.githubusercontent.com/54723104/106683447-85d6a780-6592-11eb-8901-0ffbc1cd2b4a.png)

Moreover this is consistent with what Kyle told me, even if I agree that it is not the most logical way to scale data.

I was thinking that expressing

[2021-02-03 01:35] po09i opened #220 "Add masks for RIRO and Static in realtime_zshimming"
### Description of Problem / Inefficiency:
With the goal of improving our realtime zshimming workflow, we can enhance our masking capability. We currently mask the shimming region we want to improve. Adding the ability to mask the riro component and the static component independently would be a nice feature and a lead to further investigations.

### Implementation Suggestion:
Add an option that in

[2021-02-03 01:42] jcohenadad commented on #219
how do you get that?

Based on what arguments? refs? literature? etc.

We asked Kyle this during one of our (recorded) session-- I forgot his answer but you could reach out to him or revisit the recording (and document in this thread)

[2021-02-03 01:45] po09i commented on #220
PR #209 will change a lot of the current code for realtime zshimming, I expect the changes from this issue will be quick. @evaalonsoortiz are you okay to fix the merge problems that might come up from working in parallel since I expect the changes to be quite fast or do you want me to wait until your PR is merged so we don't run into merging conflicts?

[2021-02-03 02:29] gaspardcereza commented on #219
I checked on my phase data (see my previous comment with the zoom on a wrap) and indeed, except for the null line on the left, all phase values range between 248 and 3848.

Mainly the fact that I didn't saw a lot of B1 maps in Hz (I saw a lot of normalized ones or often in nT/V). But I don't see any major problem with Hz (and as you mentioned it is part of the SI units). What I was referring to as

[2021-02-03 02:34] jcohenadad commented on #219
these numbers are based on one acquisition. How can you be sure you'll get the same number in another acquisition?

that was precisely what I was asking you to do: review the literature and document it in this thread. In the future, if we are asked to justify our decision, we can say it is based on X% of articles (out of Y articles considered, and listing all the articles), which use these units.

[2021-02-03 03:13] evaalonsoortiz commented on #220
Go ahead without me finalizing PR #209. I've run into problems when using that PR with multislice B0 maps anyhow, so there's more work to be done there.

[2021-02-03 17:10] gaspardcereza commented on #219
I checked on every standard turboflash RF mapping acquisitions that we did at the MNI (21/02/2020 - 23/09/2020) and they all have the same characteristics: a null line on the left edge and phase value ranging from [248 - 3848) everywhere else. But I guess it is specific to that sequence in particular (and maybe to the scanner itself ?).

Also, I went through the XX that we did on 23/09/2020 to get

[2021-02-03 17:16] jcohenadad commented on #219
strange-- would be good to get Kyle's feedback on this

[2021-02-05 20:16] po09i opened #222 "Consider changing "_" for separating 2 words CLI options"
### Description
We should decide how to call CLI options that have more than one word. We have been separating the words with "_". We could also chose "-".

For now we have been using "-mask_static" and "-remove_tmp". We could consider using "-mask-static" and "-remove-tmp".

[2021-02-05 20:16] po09i commented on #222
Related to https://github.com/shimming-toolbox/shimming-toolbox/pull/221#issuecomment-774256375

[2021-02-05 20:22] po09i commented on #222
Pro:
- Faster to write
- Seems to be the default for naming options (according to click [documentation](https://click.palletsprojects.com/en/7.x/options/#name-your-options))

Cons:
- Blends in with the first "-" to specify a new option

[2021-02-05 20:25] jcohenadad commented on #222
we could also take the opportunity to go with the standard "-" (short) and "--" (long) flags. I know we discussed it in the past and agreed for a single "-" for long, but that goes against the UNIX convention...

[2021-02-05 20:59] charjl commented on #222
Similar to what Julien said. - for one letter implementation shortcuts, and always -- for anything longer than one letter is considered a terminal standard in most cases.
As joining words together goes, aka - vs _,  I prefer - as it is easier to see on many more terminals

[2021-02-07 01:49] #216 closed, assigned to jidicula

[2021-02-08 14:54] mathieuboudreau commented on #187
Happy to test this if you give me some user scenarios to try and provide feedback on

[2021-02-09 01:27] jidicula commented on #187
@mathieuboudreau could you start by trying to install it fresh into a new conda virtualenv (instructions [here](https://shimming-toolbox.org/en/latest/getting_started/installation.html#virtual-environment)) following these [directions](https://shimming-toolbox.org/en/latest/getting_started/installation.html#development-version) and then running the [full unit test suite](https://shimming-toolbox.o

[2021-02-09 17:38] mathieuboudreau commented on #187
First note: Python 3.7 isn't available on conda channel for ARM. Anaconda/Miniconda isn't compatible with Mac M1 at the moment, Miniforge is needed, and so it's restricting which Python version I can get.

Here is the output:

[code]

[2021-02-09 17:51] mathieuboudreau commented on #187
Trying using Python 3.8 as an alternative.

[Installation log](https://docs.google.com/document/d/1oVpnBaml_3L44SU7eGV3ZcZR6WpqHNVO0nZy1qxa2gM/edit?usp=sharing)

Numpy fails to install, due to a Fortran error.

Unsure why SCT didn't result in this error for numpy. You're forcing version 1.9.x vs SCT is downloading the latest version.

[2021-02-09 17:59] mathieuboudreau commented on #187
Installing the latest Numpy in your venv doesn't work either, it throws an error.

Looking into the Conda venv generated by SCT, it's using Python 3.6.12 (!?!) and Numpy 1.19.5 (!?!?!). @jcohenadad are your dependencies in SCT conda venv precompiled/packaged? Is that why it's maybe working for that tool but I can't use them here when pulling them through Miniforge?

[2021-02-09 18:05] mathieuboudreau commented on #187
I think the issue might be installing through `pip` like you are vs conda channels that have builds ready for arm.

I just tried using Python 3.8.5 conda venv and `conda install numpy` and it installed successfully.

[2021-02-09 18:07] mathieuboudreau commented on #187
Note: none of the above were done using the `arch -x86_64` command

[2021-02-09 18:57] jcohenadad commented on #187
Thank you @mathieuboudreau for these investigations! cross-referencing https://github.com/neuropoly/spinalcordtoolbox/issues/3211 and tagging @joshuacwnewton @drulex @kousu @ahill187

Our dependencies use pip, and I _think_ they are precompiled (using wheels). But the rest of the team can correct me.

Possibly-related: https://github.com/neuropoly/spinalcordtoolbox/issues/2841

[2021-02-10 01:43] jidicula commented on #187
Thanks @mathieuboudreau! I was hoping to establish a baseline of what steps might fail, and you've given us a great picture of what our package experience currently looks like on the M1 Macs.

If it's not too much trouble, could you also try the same [instructions above](https://github.com/shimming-toolbox/shimming-toolbox/issues/187#issuecomment-775584755) but prefixing commands with `arch -x86_6

[2021-02-10 13:06] mathieuboudreau commented on #187
Minor update (positive news!)

I created a new user account on my MBP and ran all the instructions with the prefix `arch -x86_64`, here is my experience so far.

[venv log](https://docs.google.com/document/d/1lGUXAidGkc6CzLApoFj7QB7Ufot0Y7h7mf1XX1XmItk/edit?usp=sharing)
[installation log](https://docs.google.com/document/d/16e5N0JoKXR5LZucvKkZJ8Y9D-zi2Z5cCTXQQLAMF2X8/edit?usp=sharing)
[pytest log]

[2021-02-10 13:36] mathieuboudreau commented on #187
Another minor update with more positive news.

I installed dcm2niix (built from source) and FSL using the prefix `arch -x86_64`. Note, FSL has a banner on their website stating incompatibility with M1 Macs, but I like to live life dangerously, so I tried it anyways.

[dcm2niix build log](https://docs.google.com/document/d/1iYruK_bPiAFRqoawiws44cAXddaRiHu4eT_3thPgIsU/edit?usp=sharing)
[FSL installa

[2021-02-10 13:42] mathieuboudreau commented on #187
I just tried installing dcm2niix using conda (with the `arch -x86_64` prefix), and not only do the tests still fail, but now more tests fail.

[log](https://docs.google.com/document/d/113rkDUw9u4EzIMI89R6_xBQl1rqgSzOLEwzOdZ6u2QU/edit?usp=sharing)

[2021-02-10 13:49] mathieuboudreau commented on #187
Funny thing, I just tried running `dcm2niix` on a sample dataset I found on google [here]((https://medistim.com/dicom/) (bmode), and it ran fine:

<details>

[code]

</details>

And the image looks fine on FSLeyes (!!! @jcohenadad, it works on M1! (at least through the full FSL installation + the `arch -x86_64` prefix)):

<img width="1440" alt="Capture d’écran 2021-02-10 à 10 15 17" src="https://u

[2021-02-10 13:54] mathieuboudreau commented on #187
Also @jcohenadad as a sidenote, the very strange thing about FSLeyes working is that I didn't do any manual changes related to the OpenGL issue we previously encountered...? 🛸

[2021-02-10 16:16] jcohenadad commented on #187
Thank you @mathieuboudreau . This is overall quite promising indeed, but I am worried how we will document the installation of Python, requirements and every 3rd party software. Anyways, your investigations are gold 🏅

[2021-02-10 16:58] mathieuboudreau commented on #187
In this transition period that people with M1 macs are experiencing, maybe a video walkthrough of the installation experience would suffice for this edge case?

[2021-02-10 19:21] po09i commented on #222
Consensus after lab meeting: we go for double dash, and ignore single dash single char. Main argument: go with Linux standard.

[2021-02-16 23:02] jcohenadad opened #228 "Help: replace " --flag INTEGER RANGE (int): blabla" by " --flag {0,1} blabla""
i find the usage could gain on the UX side-- for example:

[code]

in this case, the choices are 0 or 1. So why not indicate that? also we don't need the '(int)' in the description. The type is already indicated next to the flag name.

eg what we do in sct:

[code]

the type and choices (int or str) are all indicated next to the flag.

we use a formatting class for that, so this is harmonized thro

[2021-02-17 17:48] po09i commented on #228
With click, there is an easy way to to this: using the `type` parameter ([ref](https://click.palletsprojects.com/en/7.x/parameters/)). For example:
 type=click.Choice(['cylinder', 'box', 'gaussian'])
type=str
etc

A problem I have found is using `type=click.IntRange(0, 2)` which leads to `INTEGER RANGE` which is not obvious. We should provide more feedback in the help to remedy this.

Since the ty

[2021-02-17 20:14] charjl commented on #205
-ADS has a plugin for this (FSL-Eyes), SCT has a script. Why the difference?
-Is FSL-Eyes the correct tool for this ? There are installation problems. <2020-01-26: https://docs.google.com/document/d/1CKpGLPcQ133hNdVa-Hzk5AINkJiQ13-uBEiDogpE8sg/edit#heading=h.cuol6iqlzhv8 >
-Different cli have tabs and images on the SCT one
-Implement it in such a way where you don't have to load the script into fs

[2021-02-18 20:15] po09i commented on #205
The main CLIs we want to implement are:
- st_mask
- st_dicom_to_nifti
- st_prepare_fieldmap
- st_realtime_zshim

[2021-02-18 21:38] po09i commented on #205
### How should the main layout be?
ADS and SCT's implementation is included for reference and to show the different tabs:

![Screen Shot 2021-02-18 at 16 34 38](https://user-images.githubusercontent.com/47249340/108424447-2ec60900-7207-11eb-8e19-adb1f277283c.png)
![Screen Shot 2021-02-18 at 16 35 09](https://user-images.githubusercontent.com/47249340/108424495-41d8d900-7207-11eb-9282-471b0e1522ed.

[2021-02-18 21:58] jcohenadad commented on #205
my 2-cent:
- I do have a preference for the horizontal layout with tabs (à la SCT)
- 1 tab per CLI --> definitely not
- 4 tabs: shim, dcm2nifti, fieldmap, mask --> seems like a good start
- start simple prototype and we iterate from there

[2021-02-19 20:53] ahill187 opened #229 "Issues installing on Big Sur"
### Environment details

- [ ] I followed the [installation instructions](https://shimming-toolbox.org/en/latest/2_getting_started/1_installation.html)

Project version:

Operating System and version:

MacOSX 10.16 (Big Sur)
Python Version: 3.8.2
Pip Version: 19.2.3

Path to Python binary: /Users/work/Coding/NeuroPoly/shimming-toolbox/env/bin/python3

### Bug Description
Following the steps in the

[2021-02-19 21:16] po09i commented on #205
Here's a link to the initial sketch: https://drive.google.com/file/d/1dETgz9SbKZ5ktNwi9NE-Kh1LDuFayzcV/view?usp=sharing

[2021-02-19 22:57] jcohenadad commented on #205
nice! comments added

[2021-02-22 23:47] #220 closed, assigned to po09i

[2021-02-23 02:37] po09i opened #230 "Update dcm2niix's version requirement in the doc and README"
Since PR #149, we need dcm2niix version to be greater or equal to v1.0.20201102. We should update the doc and the README to specify this new requirement.

[2021-02-23 18:28] charjl commented on #205
If one uses a fsleyes plugin, fsleyes must be run from inside our shimming conda virtual environment (often called shim_venv)
When fsleyes runs from inside this environment, dependencies for shimming-toolbox are overwritten, and shimming pytest cannot be run.
The other option, which is quite similar to the eye, is to make a fsleyes script rather than a fsleyes plugin. Fsleyes scripts can be run wi

[2021-02-23 18:33] jcohenadad commented on #205
script is what we use for SCT-- i don't see any problem with that approach (apart from the fact that we need to load it each time-- which literally takes 2s)

[2021-02-23 20:01] ahill187 commented on #205
So Paul McCarthy replied and says he's releasing a new version of `fsleyes` in a couple of weeks and will include our `dcm2niix` dependency fix:
https://github.com/pauldmccarthy/fsleyes/issues/69

[2021-02-23 20:25] jcohenadad commented on #205
awesome news! thank you for checking @ahill187

[2021-02-25 18:39] charjl commented on #205
- [x] Finder/file browser (Ainsleigh)
- [x] "Run" implementing on all four tabs (Char/Alex)
- [x] Determine what other input types are needed mostly strings, some paths, numbers (Gaspard)
- [x] Second type-specific file finder from overlay list (Alex)
- [x] Basic call-back infrastructure for drop-down choice Drop-down list for types of shimming (Alex/Gaspard)
- [x] Third column for terminal output

[2021-02-25 19:15] gaspardcereza opened #233 "Add dropdown button to select shim algorithm in GUI"
### Feature Description:
In the GUI, we want to be able to select the shim algorithm.
According to the chosen algorithm,  the input/output layout displayed in the GUI should change.

### Implementation Suggestion:
We think about embedding the different tabs corresponding to each algorithm in the `shim` tab. The choice of the algorithm would be don via a [ComboBox ](https://wxpython.org/Phoenix/doc

[2021-02-25 21:04] charjl opened #234 "Enhancement: Implementation of Additional "Nice to have" GUI features"
### Checklist

- [ ] I've given this issue a self-descriptive, meaningful title (e.g. *Document the use of config/dcm2bids.json*)
- [ ] I've described the enhancement for an existing feature
- [ ] (optional) I've added some ideas about how to implement my suggestion
- [ ] I've given this issue the correct labels

### Description of Problem / Inefficiency:

### Implementation Suggestion:
Placeholde

[2021-02-25 21:39] charjl commented on #205
Fiesta has been completed; implementation to begin.

[2021-02-25 22:45] gaspardcereza commented on #205
# Inputs used by each CLI
## dicom_to_nifti
- inputs:
        -input (path): path to the input dicom folder. **Required**
        -output (path): path to the output nifti folder.
        -subject (str): Name of the patient. **Required**
        -config (path): Full file path and name of the bids config file

## mask
- inputs:
      (str): 'box', 'rect' or 'threshold'. Type of masking to apply

###

[2021-03-03 19:44] jcohenadad commented on #205
Why I prefer script over plugin?
- because the plugin gets "installed" and a file is created under `~/.fsleyes`
- related to the previous point: if ST is updated, the user has the responsibility to update the plugin. Bottomline: users won't do it.
- fsleyes needs to be installed inside the venv (big cons!)

A cons of the script is that we need to manually load it each time, however this is not a b

[2021-03-03 20:24] po09i commented on #230
Issue can be closed, fixed in PR #231

[2021-03-03 20:24] #230 closed, assigned to nobody

[2021-03-03 20:30] jcohenadad opened #236 "Installation section is confusing"
### Checklist

- [ ] I've given this issue a self-descriptive, meaningful title (e.g. *Implement optimization algorithms for shimming*)
- [ ] I've described the new feature and its expected behaviour
- [ ] I've described the usage scenario for the new feature
- [ ] (optional) I've added some ideas about how to implement my suggestion
- [ ] I've given this issue the correct labels

### Feature Desc

[2021-03-03 20:56] jcohenadad opened #237 "Consider creating launchers for CLIs"
### Context

Currently, to use ST, users have to set up their virtual environment. This is cumbersome, some users will forget to activate the environment, etc.

Alternatively, in SCT, we have runners that activates the venv and then run the code inside the controlled environment. Installation of SCT is done via a shell script that takes care of creating a conda environment and creating the launche

[2021-03-04 20:50] jcohenadad commented on #237
a corollary benefits of that approach, is that we don't need to have FSLeyes installed (and run) within the same venv, which is known to cause installation issues https://github.com/neuropoly/spinalcordtoolbox/issues/3262

[2021-03-05 21:51] po09i opened #238 "Create folder when output folder does not exists in masking CLI"
### Bug Description
When defining an output file when using `st_mask threshold ...` if the output folder does not exists, the call will crash. We should create the folder if it does not exist. We should check for the other masking CLIs as well.

### Reproduction Steps
Starting in the _shimming-toolbox/_ folder, make sure _temp/_ does not exist.

[code]

### Implementing the fix
The fix should be i

[2021-03-09 03:44] po09i commented on #236
Comments from Daniel:
1. Should steps following the setup of the venv be run in the venv or not? It is not clear if you need the venv only to run the toolbox, or to install it as well. I ran them inside the venv, as that seems to be the intention.
2. I think all pre-requisites should be grouped together. A moron in a hurry could easily miss the prerequisite of FSL
3. What should the user do if the

[2021-03-09 03:47] po09i commented on #236
This goes in favour of creating launchers

The section could use some revisiting.

  Open an issue

  The FSL suite is not required, only fsleyes for the gui and prelude for the unwrapper but the user does not need FSL at all to run most parts of the toolbox.

[2021-03-10 22:14] po09i opened #239 "Consider using fsleyes as a script or a plugin"
## Summary
Fsleyes can be used a GUI. There are two main ways to run custom code on fsleyes. Write a script or a plugin. They both have their own pros and cons:

### script
Pros
- Launch script from the terminal (`fsleyes --runscript file.py --scene default`)
- Version is always the latest cloned version

Cons
- Need to be launched each time

### plugin
Pros
- Can be installed once

Cons
- Need to

[2021-03-11 14:18] #210 closed, assigned to gaspardcereza

[2021-03-12 00:27] po09i opened #240 "Fsleyes' requirements to easily work within shimming toolbox"
### Summary
We have been having quite a bit of problems with the fsleyes installation so I wanted to clear things up once and for all (hopefully).

### Fsleyes installation requirements depending on use case
In the plugin script, I removed all imports from shimmingtoolbox (only CLI calls remain). I was able to successfully launch the plugin whether fsleyes was opened from shimming toolbox's venv,

[2021-03-12 00:32] po09i commented on #237
As mentioned in issue #240, we have found that fsleyes can now be more easily installed. We don't need fsleyes to be installed in the venv. We only need to run fsleyes from the venv. Launchers would still have the benefit to be able to launch fsleyes outside the venv.

I believe this decreases the priority of the launchers as the installation process was the main argument behind going with launche

[2021-03-12 01:14] jcohenadad commented on #237
indeed!

[2021-03-12 14:55] gaspardcereza commented on #236
Is there a way to only install Prelude without the whole FSL package as it can be done for FSLeyes?

[2021-03-12 14:57] jcohenadad commented on #236
i don't think so

EDIT: not "in a clean way" (ie: we currently do it for the CI but this is a dirty hack because we already know what is the OS of the CI server)

[2021-03-12 23:34] ahill187 opened #241 "Consider converting fsleyes plugin to a package"
### Motivation

Currently, the `fsleyes` plugin implementation is a script (WIP), but I think converting it to a package might be the way to go. The `FSLeyes` documentation describes using a plugin package here: https://users.fmrib.ox.ac.uk/~paulmc/fsleyes/userdoc/latest/plugins.html

### Pros

1. If we package it, we can have multiple files/folders. This will allow us to not have one giant file,

[2021-03-12 23:53] ahill187 opened #243 "Bug when using FSLeyes Plugin dropdown on Mask tab"
### Environment details

- [x] I followed the [installation instructions](https://shimming-toolbox.org/en/latest/2_getting_started/1_installation.html)

Project version:

Operating System and version: MacOSX 10.16 (Big Sur)

Python version: 3.8.5

Path to Python binary: /Users/work/miniconda/envs/shim_venv/bin/python3

### Bug Description
The `st_plugin` has a bug when using the dropdown menu for

[2021-03-15 21:21] po09i commented on #243
This problem is also happening for any dropdown we have. (In the shim tab, the unwrapper section of the fieldmap tab)

[2021-03-16 04:12] po09i opened #245 "Add ability to average different echoes for better SNR for masking"
### Description of Problem / Inefficiency:
When running `st_mask sct` on a file with low SNR. SCT has a hard time with the segmentation, we are already averaging across time points if the input is 4d. However, we could further improve by averaging across echoes. The reason we are not currently doing so is that the BIDS convention separates the echoes in different files. This means that it is not t

[2021-03-16 14:54] jcohenadad commented on #245
we are opening a pandora box for introducing image/maths manipulations. But i guess this is needed in the long term. A temporary alternative would be to leverage SCT fsleyes plugin to do these things (it also works for brain data).

also, i guess what you want is more than concatenate: you want to average across files. Which could be done by:
- concatenating across 4th dim and then average across

[2021-03-19 17:42] gaspardcereza commented on #243
Note: I don't have this problem on my end.

[2021-03-22 17:04] gaspardcereza opened #246 "Change in TFL B1 mapping "SequenceName" tag"
### Environment details

Mac OS Catalina. Followed the installation process.

### Bug Description

When converted to nifti, the `SequenceName` tag of the TFL B1 mapping dicoms isn't "tfl12d1_16" as it used to be but “*tfl12d1_16". The star at the beginning wasn't there during the older conversions.

### Potential Reasons behind Bug:

The star might be due to a wrong version of `dcm2niix` or simply

[2021-03-22 19:47] #246 closed, assigned to gaspardcereza

[2021-03-24 02:23] po09i commented on #238
@ahill187 I believe this was fixed in #248, if so we should add it to the fixes in the PR body.

[2021-03-30 13:23] gaspardcereza opened #251 "Missing "SliceTiming" tag in B1 .json file"
### Checklist

- [x] I've given this issue a self-descriptive, meaningful title (e.g. *Installation failure: problem creating launchers*)
- [x] I've described my environment
- [x] I've described the bug
- [x] I've described the steps to reproduce the behaviour
- [ ] I've included screenshots
- [x] I've given this issue the correct labels

### Environment details

- [x] I followed the [installation

[2021-04-02 12:37] #251 closed, assigned to gaspardcereza

[2021-04-20 15:15] po09i commented on #79
After design discussion with the team, we think it makes sense to have coil profiles as a class, some pros:
- Allows to shift the constraints from the optimizers to the coil profile class (more modular)
- Allows to easily handle if we want more than one coil profile for the optimizer. This was a problem for the constraints

Some constraints to think about:
- Total current
- Current per channel
- R

[2021-05-18 16:06] jcohenadad opened #257 "Implement realtime shimming module in the optimizer"
### Checklist

- [ ] I've given this issue a self-descriptive, meaningful title (e.g. *Implement optimization algorithms for shimming*)
- [ ] I've described the new feature and its expected behaviour
- [ ] I've described the usage scenario for the new feature
- [ ] (optional) I've added some ideas about how to implement my suggestion
- [ ] I've given this issue the correct labels

### Feature Desc

[2021-05-18 16:07] jcohenadad opened #258 "Implement BET for brain masking"
### Checklist

- [ ] I've given this issue a self-descriptive, meaningful title (e.g. *Document the use of config/dcm2bids.json*)
- [ ] I've described the enhancement for an existing feature
- [ ] (optional) I've added some ideas about how to implement my suggestion
- [ ] I've given this issue the correct labels

### Description of Problem / Inefficiency:

TODO

### Implementation Suggestion:

###

[2021-05-19 14:25] jcohenadad opened #260 "Remove unecessary white space in figure"
![Screen Shot 2021-05-19 at 10 24 47 AM](https://user-images.githubusercontent.com/2482071/118829924-8f0f2a00-b88c-11eb-9f65-9f7d20b09d87.png)

[2021-05-19 14:56] jcohenadad opened #262 "Simplify installation"
Currently, we suggest doing:
[code]

I suggest we install docs and dev by default, so the command line is not too complicated (and it is _really_ not a big deal if users install the docs and dev by default-- it is very small). In fact, I _know_ the users: they will be more annoyed by the ".[docs,dev]" syntax than by installing these additional deps.

[2021-05-19 15:00] jcohenadad opened #263 "FSLeyes plugin installation will break with non-bash SHELL"
Currently, installation says:
![image](https://user-images.githubusercontent.com/2482071/118835630-2d04f380-b891-11eb-9dd4-a2dea7af34db.png)

This will not work with ppl having non-bash shell (eg zsh, which is now default on macOs). And some of our users won't understand _why_ it will fail.

Solutions:
1) We explain different scenario depending on the shell (zsh, bash, etc.)
2) We simply ask to re

[2021-05-19 15:12] po09i commented on #260
Uploaded an updated version of the overview figure to the doc-figures repo. This can be closed

[2021-05-19 15:12] #260 closed, assigned to nobody

[2021-05-19 15:16] po09i opened #264 "Remove outdated example scripts"
### Description of Problem / Inefficiency:
Some example scripts are:
- Really old/outdates/in python (general_demo.py)
- Mostly a duplicate (realtime_zshimming.sh)
- Comments that were useful for creating the zshimming scripts which we don’t need anymore (volume_RT_shim_respiratory.py)

### Implementation Suggestion:
Remove them

[2021-05-19 15:19] gaspardcereza commented on #263
I also prefer option 2. And people with good bash/zsh knowledge will probably guess that they can get the same result by typing `source ~/.bashrc` or whatever it is on zsh

[2021-05-19 15:23] gaspardcereza commented on #262
I always mix up the order of the brackets, the dot and the quotation marks so I 100% agree with this suggestion 😅

[2021-05-19 16:48] jcohenadad opened #266 "Add sexy badges in README"
i suggest we add badges for:
- forum discussion
- release
- license

see [sct](https://spinalcordtoolbox.com/en/latest/) for inspiration on how to do it

[2021-05-20 22:43] po09i opened #267 "Add SCT to installation documentation"
## Summary
We currently support SCT masking but we should include it in the documentation

[2021-05-20 23:23] KevinBerard opened #268 "st_check_dependencies not telling the dependencies missing"
### Checklist

- [x] I've given this issue a self-descriptive, meaningful title (e.g. *Installation failure: problem creating launchers*)
- [x] I've described my environment
- [x] I've described the bug
- [x] I've described the steps to reproduce the behaviour
- [x] I've included screenshots
- [ ] I've given this issue the correct labels

### Environment details

- [x] I followed the [installation

[2021-05-27 02:07] #245 closed, assigned to nobody

[2021-05-27 19:53] KevinBerard opened #271 "demo_realtime_zshimming example missing a file"
### Checklist

- [X] I've given this issue a self-descriptive, meaningful title (e.g. *Installation failure: problem creating launchers*)
- [X] I've described my environment
- [X] I've described the bug
- [X] I've described the steps to reproduce the behaviour
- [X] I've included screenshots
- [X] I've given this issue the correct labels

### Environment details

- [X] I followed the [installation

[2021-05-27 20:39] jcohenadad opened #272 "Complete the API refs in the documentation"
In the doc, the CLI and API ref seems incomplete:
![image](https://user-images.githubusercontent.com/2482071/119893984-0a668080-bf0a-11eb-8b49-2921d385a015.png)

We should update that

[2021-05-28 16:34] po09i opened #273 "Move outputs of demo_realtime_zshimming to an output folder"
### Description of Problem / Inefficiency:
Currently all outputs are written inside the `fmap/` folder of the niftis generated by the `dicom_to_nifti` call. This should not be the case.

### Implementation Suggestion:
Move the outputs (everything that is not an acquisition) to the derivatives folder: `rt_zshim_nifti/derivatives`

[2021-05-28 16:44] po09i commented on #271
@KevinBerard I tried it on my hand and it seems to work fine. I can see in your screenshot this line where magnitude1 seems to be parsed:
`INFO:dcm2bids.sidecar:_magnitude1  <-  015_._gre_field_mapping_PMUlog_2_20200817104950_e1`

I think the error comes from running `st_dicom_to_nifti` in the `shimming-toolbox/` directory rather than in the `shimming-toolbox/testing_data/realtime_zshimming_data`

[2021-05-28 20:24] KevinBerard commented on #271
That's exactly what happened

[2021-05-28 20:24] #271 closed, assigned to nobody

[2021-05-29 14:22] KevinBerard opened #274 "Uniformity of the README and help of the commands"
In the README there isn't a list of all st_ commands and the example it links don't show all of them. It would be nice to add a list of all the commands accessible in the README.rst

Futhermore, the "st_mask -h" command give the different commands but not their parameters (ex: the box comand need -size -input -output but they aren't in the "st_mask -h")
The "st_prepare_fieldmap" doesn't have the [

[2021-05-30 01:52] jcohenadad commented on #274
Because we use nested usage. To get the help you would need to do: `st_mask box -h`.

I've already had concerns in the past that this nested usage would be confusing for users not familiar with UNIX (which will likely be a non-negligible proportion of ST users). Maybe we should reconsider nesting...?  Or better explain how users can get help for specific command (maybe the latter option is better,

[2021-05-30 22:46] KevinBerard commented on #274
By reflex I did `st_mask -box -h` instead of `st_mask box -h`. I suppose it is my bad on this.

[2021-06-01 03:40] po09i commented on #274
I agree, it would be beneficial to have a list of all the available commands.

This is because phase is an argument and not an option. This means it is required and does not require an option name (i.e. `-phase`) in front. The reason it is an argument is that it is the only way to have a non-specified number of inputs (you can have however many `phase path input` as you want). More info on click [

[2021-06-01 23:33] po09i commented on #272
Related to #267

[2021-06-02 00:26] po09i commented on #240
This can be closed as we introduced a new repo and packages it as a fsleyes plugin. The ST and fsleyes are therefore independent.

[2021-06-02 00:26] #240 closed, assigned to nobody

[2021-06-02 00:27] po09i commented on #233
This was implemented [here](https://github.com/shimming-toolbox/fsleyes-plugin-shimming-toolbox/pull/1). This can be closed.

[2021-06-02 00:27] #233 closed, assigned to po09i, gaspardcereza

[2021-06-02 00:31] po09i commented on #239
We went with a plug in, see [here](https://github.com/shimming-toolbox/fsleyes-plugin-shimming-toolbox/pull/2). This can be closed.

[2021-06-02 00:31] #239 closed, assigned to nobody

[2021-06-02 00:31] po09i commented on #241
Converted as a plugin [here](https://github.com/shimming-toolbox/fsleyes-plugin-shimming-toolbox/pull/2)

[2021-06-02 00:32] po09i commented on #238
This was fixed in the plugin's repo [here](https://github.com/shimming-toolbox/fsleyes-plugin-shimming-toolbox/pull/2). This can be closed.

[2021-06-02 00:32] #238 closed, assigned to ahill187

[2021-06-08 16:44] #272 closed, assigned to nobody

[2021-06-08 16:45] #222 closed, assigned to nobody

[2021-06-08 16:45] #267 closed, assigned to nobody

[2021-06-08 21:25] po09i commented on #212
This can be closed

[2021-06-08 21:25] #212 closed, assigned to gaspardcereza

[2021-06-09 16:56] po09i opened #278 "multiprocessing sometimes hanging"
### Environment details

- I followed the [installation instructions](https://shimming-toolbox.org/en/latest/2_getting_started/1_installation.html)

Project version:

Branch: `ad/optimizer`

Operating System and version:

[code]

### Bug Description
When using multiprocessing (specifically the multiprocessing in the coordinates.py file:resample_from_to()) it sometimes hangs and a keyboard interrup

[2021-06-09 18:49] ahill187 commented on #278
https://github.com/python/cpython/blob/3.9/Lib/multiprocessing/pool.py

Not sure if this is related, but I ran into a similar problem with `ivadomed` with `test_automate_training.py`:

## Tests

One thing to note is that when testing any command line scripts that use multiprocessing, you should use `script_runner` to call the module instead of `script_to_test.main(args)`. This is because if you do

[2021-06-09 21:41] ahill187 commented on #278
I tested the bug on my system:

OS: MacOS Big Sur
Python: 3.8.2
branch: ad/optimizer

Then I ran this 4 times consecutively with all tests passing:
[code]

[2021-06-09 22:28] ahill187 commented on #278
Found help here: https://github.com/matplotlib/matplotlib/issues/15410#issuecomment-625027757

Python 3.7 uses `fork` by default, which was causing it to break on 3.7 and not 3.8 (which uses `spawn`). So we added the line:
[code]
That fixed it 😄

We had a similar issue in `ivadomed`: https://github.com/ivadomed/ivadomed/pull/580/commits/81c3dcd47f44a3a0899d19f121a46ac60dfa9663

[2021-06-10 04:08] #152 closed, assigned to nobody

[2021-06-10 04:08] #278 closed, assigned to nobody

[2021-06-10 04:13] po09i opened #279 "Update README command example with the updated st_prepare_fieldmap"
### Description of Problem / Inefficiency:
We updated the CLI `st_prepare_fieldmap` but the README still shows the old implementation. We should update it.

[2021-06-10 15:43] #274 closed, assigned to nobody

[2021-06-10 17:39] #205 closed, assigned to nobody

[2021-06-10 17:39] #241 closed, assigned to jcohenadad, ahill187, po09i, gaspardcereza

[2021-06-28 16:36] gaspardcereza opened #281 "Problem with reordering the B1 maps after nifti conversion"
### Environment details

Project version: Master branch (2021/06/10)

Operating System and version: Catalina (Mac OS)

Python version: 3.7

### Bug Description
I tried to scaled B1 maps from our last acquisition at the MNI (acdc_spine_7t_007) and realized they are not reshuffled correctly by `load_nifti` (slices are still shuffled).

### Reproduction Steps
Need access to dicoms from our last acqui

[2021-06-29 17:06] gaspardcereza opened #282 "Implement code for CP phase computation"
### Feature Description:
In order to RF-shim, it can be useful to start with initial shim-weights based on the CP-mode (it usually yields a better homogeneity during the optimization process).

### Implementation Suggestion:
The actual weights used during the B1 mapping are stored in the `dicom` header and can be retrieved by parsing it. They correspond to CP weights present in the coil files duri

[2021-06-30 16:32] gaspardcereza commented on #281
In order to better organise my investigations, here's a sum up of the different B1 mapping sequences we ran on the MNI's Terra so far:

- **acdc_spine_7t_001p (2020/02/21)**
  - rfmap_ax
     - 48 uncombined dicoms
     - not inverted
  - rfmap_ax_scale10
     - 144 uncombined dicoms
     - not inverted
  - rfmap_sag
    - 144 uncombined dicoms
    - **inverted**
  - standard (6)
     - 400 uncomb

[2021-06-30 19:24] gaspardcereza commented on #281
@jcohenadad @evaalonsoortiz I found something really weird: For many standard B1 mapping acquisitions, the `save uncombined` option was off (e.g. in ACDC_spine_7t_003p from 2021/03/26), but we still got uncombined maps only...

In checked the fact that the option was unchecked in the pdf files (in the "system-miscellaneous" section). I really don't understand why we didn't get recombined maps...

[2021-06-30 19:39] jcohenadad commented on #281
can you please:
- add URL to the PDF
- mention the scan number (and the page) on the PDF that corresponds to the problematic dataset

that way i will be able to quickly check

[2021-06-30 19:48] gaspardcereza commented on #281
@jcohenadad
[Link to the PDF](https://drive.google.com/file/d/1Y2NLFE_LGaV8QLun3ob-d7NMcP2bTmWl/view?usp=sharing)
Any standard b1 mapping sequence is concerned (there are 4 of them).
The setting "save uncombined" is in the section `system - Miscellaneous`

[2021-06-30 19:55] jcohenadad commented on #281
Just to be clear: when you say "but we still got uncombined maps only...", are you referring to:
- Rx uncombined, or
- Tx uncombined (and Rx combined)?

If you are referring to the latter, then this is what is expected (the flag "save uncombined" refers to the Rx elements).

[2021-06-30 20:26] gaspardcereza commented on #281
Ok in that case it is normal then as I was referring to Tx maps.

[2021-06-30 21:11] gaspardcereza commented on #281
I went through all b1 mapping acquisitions we did and isolated two different cases:
- dcm2niix inverts the coil ordering when storing the b1 maps in the niftis
- dcm2niix keeps the coil ordering

I'll now try to find what could be the reason between this unexpected behavior by going through the dicom tags and the pdf from the different acquisitions.

[2021-07-09 14:05] jcohenadad opened #285 "Make a release 🚀"
### Checklist

- [ ] I've given this issue a self-descriptive, meaningful title (e.g. *Implement optimization algorithms for shimming*)
- [ ] I've described the new feature and its expected behaviour
- [ ] I've described the usage scenario for the new feature
- [ ] (optional) I've added some ideas about how to implement my suggestion
- [ ] I've given this issue the correct labels

### Feature Desc

[2021-07-09 16:39] po09i commented on #285
We currently have v0.1-beta, not sure why that is not displayed. Maybe the badge does not display pre-releases. In any case we could move to an actual release.

[2021-07-09 16:53] po09i opened #286 "Correction of 0th order shim with through slice gradient for single slice shimming"
### Description:
During the process of creating the sequencer and optimizer, I realized that shimming fieldmaps that had a mean other than 0 (requiring 0th order shim) were still being shimmed with the shperical harmonics coil profiles that are 1st and 2nd order coils. What I realized is that for single slice shimming (dynamic) the through slice was being adjusted to match the constant offset of t

[2021-07-09 16:57] po09i opened #287 "Implement 0th order frequency adjust for shimming"
### Feature Description:
Implement the frequency adjust/0th order shimming. We currently have ways to shim with external coils/sphrical harmonics but we don't deal with the average of the fieldmap.

### Implementation Suggestion:
The Matlab shimming Toolbox is a good start.

[2021-07-09 20:02] po09i opened #288 "Realtime shimming anat masks can create unwanted resampled masks"
### Bug Description
When inputting an anatomical mask in realtime shimming that masks True for the whole range of slices as the anat image, the resampling currently used (`nearest`) makes it so that values outside the mask are specified as True in the "fieldmap mask" which is not a desired behaviour. However, since we are resampling back on the anatomical image, the behaviour does not seem to have

[2021-07-12 22:18] jcohenadad commented on #285
yup

[2021-07-21 16:26] gaspardcereza opened #290 "Add correct ordering of coronal B1 maps + unit tests for sagittal/coronal maps"
### Description of Problem / Inefficiency:
Right now, the function `read_nii` only correctly handles axial B1 maps.  PR #283 adds a way to also handle sagittal B1 maps. Right now only axial B1 maps are available for testing purpose in [data_testing](https://github.com/shimming-toolbox/data-testing), so the unit tests will only cover the axial case.

### Implementation Suggestion:
We plan to acquir